<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" routerLink="/TEACHER/Lab"
            title="Gamification Based Coding Labs"><img src="../../assets/images/logo.png" alt="logo"
              id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border border-dark rounded CurrentStatsHover ">
          <div class="row text-center  childSpansHoverYellow">
            <div class="col"><span class="mx-2">
                <h3>Create Lab Tasks</h3>
              </span></div>
          </div>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab'">Lab's Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/AllLabs'">Lab Course</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Labtasks'">Create Lab Tasks</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Lab Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Review Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onExitLabClicked()">Exit
                  Lab</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onLogout()">Logout</button>

              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <!-- <hr class="bg-warning p-0 m-0"> -->
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <div class="row">
    <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2  p-1 maNav-bg-color minHeight838">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/TEACHER/Lab'">Lab Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/AllLabs'">View Course Labs</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/TEACHER/Lab/Labtasks'">Create Lab Tasks</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Lab Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Review Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
        </li>

      </ul>

    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-0">








      <div class="card  mt-2 mx-3">
        <div class="card-body" id="createTask">

          <div class="text-right">
            <a href="https://ide.geeksforgeeks.org/" target="_blank">Open Compiler</a>
          </div>



          <div class="col-sm-8 m-auto">
            <div class="form-group">

              <label>Select Lab Number :</label>

              <select class="custom-select" #LabNumberSelect (change)="checkIfLabNumberNotSelected(LabNumberSelect)">
                <option [value]="'Choose...'" selected disabled>Choose...</option>
                <option [value]="'Create new'"><b>Create new Lab Number</b></option>
                <option [value]="labNum.LabNumber"
                *ngFor="let labNum of TheLabNumbers"><b>{{labNum.LabNumber}}</b></option>
                <!-- <option [value]="'0111'"><b>0111</b></option> -->
                <!-- <option [value]="'10'"><b>10</b></option>
                    <option [value]="'15'"><b>15</b></option>
                    <option [value]="'20'"><b>20</b></option> -->
              </select>

            </div>
          </div>






              <div class="col-sm-8 m-auto p-3" *ngIf="LabNumberSelect.value == 'Create new'">
                <div class="alert alert-success">new Lab Created now refreshing</div>
              </div>
              <div class="col-12" *ngIf="LabNumberSelect.value != 'Create new'
              && LabNumberSelect.value != 'Choose...'">
                <div class="mx-1 p-1">
                  <form #createLabTaskForm="ngForm" (submit)="review(modalButton_proofread)">

                    <div class="row">
                      <div class="col-sm-12">


                        <div class="form-group">
                          <label>Task Question: </label>
                          <div class="form-group text-center">
                            <textarea name="LabTaskQuestion" class="p-2" cols="100" rows="6" spellcheck="false"
                              placeholder="Enter Question Statement"
                              (keyup)="checkQuestionStatement(createLabTaskForm.value.LabTaskQuestion)"
                              ngModel></textarea>
                          </div>


                          <small class="form-text alert alert-danger"
                            *ngIf="this.Errors.invalidQuestion.status == true">
                            <span>{{this.Errors.invalidQuestion.message}}</span>
                          </small>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <label>Lab Task Solution: </label>
                        <div class="form-group text-center">
                          <textarea name="LabTaskAnswer" ngModel class="p-2" cols="100" rows="10" spellcheck="false"
                            (keyup)="checkAnswerStatement(createLabTaskForm.value.LabTaskAnswer)"
                            placeholder="*** Required Field ***   Student's Answer will be marked on the basis of simillarity percentage of your provided Answer."></textarea>

                          <small class="form-text alert alert-danger" *ngIf="this.Errors.invalidAnswer.status == true">
                            <span>{{this.Errors.invalidAnswer.message}}</span>
                          </small>
                        </div>
                      </div>
                    </div>
                    <!--sdgsd  -->

<!-- REVIEW LAB TASK MODEL -->
<!-- REVIEW LAB TASK MODEL -->
<div class="modal modalPosndWidth" id="exampleModalLive2" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modalPosnWidth" role="document">
    <div class="modal-content bg-dark ">
      <div class="modal-header">
        <h4 class="modal-title text-light font16 p-3">Proofread Lab Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-light ">
        <h5 class="text-warning py-2">QUESTION: <span class="ml-4 text-warning">( XPs: {{XPsSelect.value}} )</span></h5>

        <p>{{createLabTaskForm.value.LabTaskQuestion}}</p>
        <hr class="bg-light">
        <h5 class="text-warning py-2">SOLUTION:</h5>
        <pre class="text-light">{{createLabTaskForm.value.LabTaskAnswer}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
        <button type="button" class="btn btn-success" (click)="createLabTask(createLabTaskForm,XPsSelect)" data-dismiss="modal">Publish Lab Task</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="d-none" #modalButton_proofread data-toggle="modal" data-target="#exampleModalLive2">
  .
</button>
<!-- REVIEW LAB TASK MODEL -->
<!-- REVIEW LAB TASK MODEL -->

                    <div class="row">

                      <div class="col-sm-6 ml-auto">
                        <div class="form-group">

                          <label>Assign XPs</label>

                          <select class="custom-select" #XPsSelect (change)="checkIfXPsNotSelected(XPsSelect)">
                            <option [value]="'Choose...'" selected disabled>Choose...</option>
                            <option [value]="'5'"><b>05</b></option>
                            <option [value]="'10'"><b>10</b></option>
                            <option [value]="'15'"><b>15</b></option>
                            <option [value]="'20'"><b>20</b></option>
                          </select>
                        </div>
                      </div>

                    </div>


                    <div class="text-center">
                      <button class="btn btn-primary w-50 m-auto" type="submit" [disabled]="checkIfErrors()">Create Lab
                        Task</button>

                      <small class="form-text alert alert-success mt-2"
                        *ngIf="this.Errors.LabTaskCreated.status == true">
                        <span>{{this.Errors.LabTaskCreated.message}}</span>
                      </small>
                    </div>


                  </form>
                </div>
              </div>













        </div>
      </div>


    </div>



  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
<div *ngIf="showSpinner">
  <div id="opaque" class="d-block"></div>
  <div id="spinner" class="loader"></div>
</div>




<!-- ERROR MODEL -->
<div class="modal" id="exampleModalLive" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark errorMessageModal">
      <div class="modal-header">
        <h5 class="modal-title errorMessageModal font16">Message:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body font16">
        <small>{{MessageForModal}}</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="d-none" #modalButton data-toggle="modal" data-target="#exampleModalLive">
  .
</button>









