<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
      <div class="col-12 maTopRow ">
          <!-- this column isfurther divided into three portions -->
          <!-- first portion for logo -->
          <!-- second portion for Student Stats -->
          <!-- third portion for Logout n student name -->
          <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
          <div class="row text-center">

              <!-- ---------------- -->
              <!-- GBCL LOGO COLUMN -->

              <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
                  <a class="btn  border-warning w-100 logoText" href="../StudentDashboard.html" title="Gamification Based Coding Labs"><img src="../../../../assets/images/logo.png" id="logoImg" ><b>GBCL</b></a>
              </div>

              <!-- GBCL LOGO COLUMN-END -->
              <!-- -------------------- -->






              <!-- ----------- -->
              <!-- Stats column -->
              <div class="col-12 col-sm-6 col-md-8 border rounded text-left h-100 m-auto  CurrentStatsHover">


                      <div class="row childSpansHoverYellow">
                          <div class="col-12 text-center text-underline pb-1 hoverYellow"><span><u><h5 class="">Current Stats</h5></u></span></div>
                          <div class="col-6 col-lg-4 Text12px">Current XPs: <span>0 XP</span></div>
                          <div class="col-6 col-lg-4 Text12px">Current CPPs: <span>0 CPP</span></div>
                          <div class="col-6 col-lg-4 Text12px"><span >Level: 0</span></div>
                          <div class="col-6 col-lg-4 Text12px">Current Badge: <span>ABC</span></div>
                          <div class="col-6 col-lg-4 Text12px">Next Badge: <span>XYZ</span></div>
                          <div class="col-6 col-lg-4 Text10pxItalicYellow text-right">--XPs Required for Promotion: <span >120 XP</span></div>
                      </div>
                      </div>
              <!-- STATS COL END -->
              <!-- ------------- -->




              <!-- ---------- -->
              <!-- LOGOUT COL -->
              <div class="col-12 col-sm-3 col-md-2">
                  <div class="row">
                      <div class="col-12 pt-3 pb-2">Abdur Rehman</div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <a class="btn btn-danger w-100 "  [routerLink]="'/'">Logout</a>
                      </div>
                  </div>
              </div>
              <!-- LOGOUT COL ENDS-->
              <!-- ----------------->

          </div>

      </div>
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








<!-- -------------------------------------------------------------------------------------------------------------------------------- -->








  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->


  <!-- [] represents row and () represents column ENCLOSINGS -->
  <!-- OuterRow[col(InnerRow[SideNaveCol()]), col(InnerRow[MainAreaCol()])] -->

  <div class="row">



  <!-- -------------------------------------------------------------------------------------- -->
  <!--SIDENAV MENU OF STUDENT STARTS in [container-fluid>>div.row]-->
  <!-- ----------------------------------------------------------------------------------------->
      <div class="col-12 col-sm-4 col-lg-3 p-0 m-0" >
       <div class="overflow-auto border border-warning ">

        <div class="maxHeight50 rounded" id="sideNavAnchorParentDiv">
          <div id="accordion" >

            <!-- single lab task -->
            <div class="card bg-dark text-light mb-1">
              <div class="card-header bg-dark" id="headingOne">
                <h5 class="mb-0 w-100">
                  <a class="btn btn-link btn-lg text-left w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Lab Task 01 and this is a long task
                    <span class="text-light">5 XPs</span>
                  </a>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>


            <!-- single lab task -->




          </div>
        </div>

       </div>
      </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!--SIDENAV MENU OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








  <!-- -------------------------------------------------------------------------------------- -->
  <!--MAIN AREA OF STUDENT STARTS in [container-fluid>>div.row]-->
  <!-- ----------------------------------------------------------------------------------------->
      <div class="col-12 col-sm-8 col-lg-9 minHeight83pt6 bg-secfondary" >
          <div class="row"><div class="col-12 bg-success minHeight6vh"></div></div>
          <div class="row"><div class="col-12 bg-dark minHeight6vh"></div></div>
      </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!--MAIN AREA OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->









</div>
