<!-- This is the Dashboard for student,  -->












<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" href="#" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border rounded text-left h-100 m-auto p-2 text-center">
          <h3>Student Dashboard</h3>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">

          <div class="col-12 btn-group">
            <!-- Example single danger button -->

<button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{localStorageUsername}}
</button>
<div class="dropdown-menu bg-warning" >
  <a class="dropdown-item" [routerLink]="'/STUDENT/Settings'">Profile Settings</a>
  <div class="dropdown-divider"></div>
  <button type="button" class="btn btn-outline-danger w-75 ml-3" (click)="onLogout()">Logout</button >
</div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-dark p-0 m-0">
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->


  <!-- [] represents row and () represents column ENCLOSINGS -->
  <!-- OuterRow[col12(InnerRow[col(InnerRow[MainAreaCol()])] -->

  <div class="row LabsHeaderRow">

    <!-- -------------------------------------------------------------------------------------- -->
    <!--MAIN AREA OF STUDENT STARTS in [container-fluid>>div.row]-->
    <!-- ----------------------------------------------------------------------------------------->
    <div class="col-12 minHeight84 LabsHeader">
      <div class="row ">
        <div class="col-12 col-sm-8 col-md-9 minHeight10vh pt-2 pb-2">
          <span class="">Registered Labs</span>
        </div>

        <div class="col-12 col-sm-3 col-md-2 minHeight10vh pt-2 pb-2">
          <form class="">
            <div class="formContainerJoinLab">
              <input type="text" class="LabCodeTextInput" placeholder="ENTER LAB CODE" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'ENTER LAB CODE'">
              <a class="btn btn-outline-warning MaSmallsizeBtns">Join Lab</a>
            </div>
          </form>
        </div>

      </div>


    </div>
  </div>

  <!-- -------------------------------------------------------------------------------------- -->
  <!--LABS HEADER STUDENT ENDS]-->
  <!-- ----------------------------------------------------------------------------------------->


  <!-- -------------------------------------------------------------------------------------- -->
  <!--LABS ROW STUDENT STARTSS]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row ">
    <div class="col-12">
      <div class="container pt-3">
        <div class="row">

          <div *ngIf="labs.length<=0">
            <p>
              You have not registered any labs yet.
            </p>
          </div>
          <!-- A single Lab -->
          <div class="col-12 col-md-6 col-lg-4 px-2 py-3" *ngFor="let lab of labs">
            <div class="card border-secondary  text-warning">
              <div class="card-header bg-warning text-dark  py-4 text-warning">
                  <b>BSE-7B/OOP</b>
              </div>
              <div class="card-body bg-dark">
                  <h5 class="card-title">Object Oriented Lab</h5>
                  <h6>Host: <span>Mr. Attique Zaffar</span></h6>
                  <h6>Class: <span>BSE-7B</span></h6>
                  <h6 class="mb-4">Members: <span>0</span></h6>

                  <hr>
                  <hr>
                  <div class="container text-center">

                      <a [routerLink]="'/STUDENT/Lab'"  class="btn btn-outline-warning w-75 mt-3 "><b>VISIT LAB</b></a>


                  </div>
              </div>
            </div>
          </div>
          <!-- A single Lab ENDS -->

          <!-- <app-student-lab ></app-student-lab> -->


        </div>


      </div>

    </div>








  </div>

  <!-- -------------------------------------------------------------------------------------- -->
  <!--LABS ROW STUDENT ENDS]-->
  <!-- ----------------------------------------------------------------------------------------->











</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->





<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
