<!-- This is the Dashboard for student,  -->












<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" href="#" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border rounded text-left h-100 m-auto p-2 text-center">
          <h3>Student Dashboard</h3>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">

          <div class="col-12 btn-group">
            <!-- Example single danger button -->

            <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{localStorageUsername}}
            </button>
            <div class="dropdown-menu bg-warning">
              <a class="dropdown-item" [routerLink]="'/STUDENT/Settings'">Profile Settings</a>
              <div class="dropdown-divider"></div>
              <button type="button" class="btn btn-outline-danger w-75 ml-3" (click)="onLogout()">Logout</button>
            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-dark p-0 m-0">
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->


  <!-- [] represents row and () represents column ENCLOSINGS -->
  <!-- OuterRow[col12(InnerRow[col(InnerRow[MainAreaCol()])] -->

  <div class="row LabsHeaderRow">

    <!-- -------------------------------------------------------------------------------------- -->
    <!--MAIN AREA OF STUDENT STARTS in [container-fluid>>div.row]-->
    <!-- ----------------------------------------------------------------------------------------->
    <div class="col-12 minHeight84 LabsHeader">
      <div class="row ">
        <div class="col-12 col-sm-7 col-md-8">
          <span class="py-2">Registered Labs</span>

        </div>

        <div class="col-12 col-sm-4 col-md-3 minHeight10vh p-2">
          <form #LabJoinCodeForm="ngForm"
            (submit)="onJoinLabButtonClicked(LabJoinCodeForm.value.EnteredLabJoinCode,modalButton)">
            <div class="">
              <input type="text" class="LabCodeTextInput" #EnteredLabJoinCode placeholder="ENTER LAB CODE" ngModel
                (focus)="EnteredLabJoinCode.placeholder = ''" name="EnteredLabJoinCode"
                (blur)="EnteredLabJoinCode.placeholder = 'ENTER JOIN CODE'" minlength="10" required>
              <button class="btn btn-outline-warning MaSmallsizeBtns w-75" type="submit">Join Lab</button>

            </div>
          </form>
        </div>

      </div>





      <!-- LOADING MODEL -->
      <div *ngIf="showSpinner">
        <div id="opaque" class="d-block"></div>
        <div id="spinner" class="loader"></div>
      </div>




      <!-- ERROR MODEL -->
      <div class="modal" id="exampleModalLive" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-dark errorMessageModal">
            <div class="modal-header">
              <h5 class="modal-title errorMessageModal font16">Message:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body font16">
              <small>{{MessageForModal}}</small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="d-none" #modalButton data-toggle="modal" data-target="#exampleModalLive">
        .
      </button>

    </div>
  </div>

  <!-- -------------------------------------------------------------------------------------- -->
  <!--LABS HEADER STUDENT ENDS]-->
  <!-- ----------------------------------------------------------------------------------------->


  <!-- -------------------------------------------------------------------------------------- -->
  <!--LABS ROW STUDENT STARTSS]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row ">
    <div class="col-12">
      <div class="container pt-3">
        <div class="row">

          <div class="col-12" *ngIf="LabsOfThisStudent.length<=0">
            <div class="alert alert-info">
              <h5 class="p-3">You have not joined any labs.</h5>
            </div>
          </div>
          <!-- A single Lab -->
          <div class="col-12 col-md-6 col-lg-4 px-2 py-3" *ngFor="let lab of LabsOfThisStudent">
            <div class="card border-secondary  text-warning">
              <div class="card-header bg-warning text-dark  py-4 text-warning">
                <b>{{lab.LabProgram}}-{{lab.LabClass}}/Lab</b>
              </div>
              <div class="card-body bg-dark">
                <h5 class="card-title">{{lab.LabTitle}}</h5>
                <h6>Instructor: <span>{{lab.LabInstructor}}</span></h6>
                <h6>Class: <span>{{lab.LabProgram}}-{{lab.LabClass}}</span></h6>
                <!-- <h6 class="mb-4">Members: <span>0</span></h6> -->

                <hr>
                <hr>
                <div class="container text-center">

                  <button class="btn btn-outline-warning w-75 mt-3" (click)="onVisitLabButtonClicked(lab._id,modalButton)"><b>VISIT LAB</b></button>


                </div>
              </div>
            </div>
          </div>
          <!-- A single Lab ENDS -->

          <!-- <app-student-lab ></app-student-lab> -->


        </div>


      </div>

    </div>








  </div>

  <!-- -------------------------------------------------------------------------------------- -->
  <!--LABS ROW STUDENT ENDS]-->
  <!-- ----------------------------------------------------------------------------------------->











</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->





<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
