<!-- This is the Dashboard for student,  -->

<div class="container-fluid">
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">
        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn border-warning w-100 logoText" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg" /><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->

        <!-- ----------- -->
        <!-- Stats column -->

        <div class="col-12 col-sm-6 col-md-8 border rounded CurrentStatsHover">
          <div class="row text-center childSpansHoverYellow">
            <div class="col">
              <span class="mx-2">
                <h3>Admin Dashboard</h3>
              </span>
            </div>
          </div>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->

        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning w-50 mx-1 mt-3" (click)="onLogout()">Logout</button>
              <!-- <a type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Logout
  </a>
  <div class="dropdown-menu bg-warning" >
     <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/CPA'">CPA</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a> -->
              <!-- <a class="dropdown-item" [routerLink]="'/TEACHER/Settings'">Settings</a> -->
              <!-- <a class="dropdown-item" [routerLink]="'/TEACHER/'">Exit Lab</a> -->
              <!-- <div class="dropdown-divider"></div>

  </div> -->
            </div>
          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->
      </div>
    </div>
    <hr class="bg-warning p-0 m-0" />
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2 maNav-bg-color minHeight838 p-1">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/ADMIN'">Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/ADMIN/ManageUniversities'">Manage Universities</a>
        </li>
        <!-- <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/ADMIN/JoinRequests'">Join Requests</a>
        </li> -->
        <!-- <li class="nav-item text-left">
        <a class="nav-link" [routerLink]="'/STUDENT/Lab/CPA'">Visit CPA</a>
      </li>
      <li class="nav-item text-left">
        <a class="nav-link" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
      </li>
      <li class="nav-item text-left">
        <a class="nav-link" [routerLink]="'/STUDENT/Lab/Rivals'">Rivals' Notifications</a>
      </li> -->
      </ul>
    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-1 mb-5">




      <div id="accordionOuter">



        <div class="card mt-2 mx-3">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-secondary py-2 px-1" data-toggle="collapse"
                data-target="#collapseOneRegisteredUniversities" aria-expanded="true"
                aria-controls="collapseOneRegisteredUniversities">
                <h4><b>Affiliated Universities</b></h4>
              </button>
            </h5>
          </div>
          <div id="collapseOneRegisteredUniversities" class="collapse hide" aria-labelledby="headingOne"
            data-parent="#accordionOuter">
            <div class="card-body">


              <div *ngIf="this.AffiliatedUniversitiesData.length==0">
                <div class="alert alert-info">
                  <h5>There are no universities yet registered with GBCL.</h5>
                </div>
              </div>

              <!-- Search form -->
              <!-- <div class="row mb-2">
                <div class="col-12 d-flex justify-content-end">
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </div> -->
              <!-- Search form -->




              <!-- Cards within card -->

              <div id="accordionInner">
                <div class="card mb-1" *ngFor="let uni of AffiliatedUniversitiesData">
                  <div class="card-header" [attr.id]="'heading'+uni._id">

                    <button class="btn"
                      [ngClass]="{'btn-danger': uni.UserzAccessStatus == 'Terminated'}"
                      style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#collapse' + uni._id" aria-expanded="true"
                      [attr.aria-controls]="'collapse'+uni._id"
                      (click)="TerminateAccessButtonToggle(uni.UserzAccessStatus)">
                      {{uni.TitleOfUniversity}}
                    </button>

                  </div>

                  <div [id]="'collapse'+uni._id" class="collapse hide" [attr.aria-labelledby]="'heading'+uni._id"
                    data-parent="#accordionInner">
                    <div class="card-body ">




                      <div class="row">
                        <div class="col-11 m-auto">
                          <!-- remove bg dark -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>HECID</th>
                                <th>University Title</th>
                                <th>Access Status</th>
                                <th>Username</th>
                                <th>Password</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>


                                <td>{{uni.HECIDofUniversity}}</td>
                                <td>{{uni.TitleOfUniversity}}</td>
                                <td>{{uni.UserzAccessStatus}}</td>
                                <td>{{uni.Username}}</td>
                                <td>{{uni.Password}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="d-flex justify-content-end mr-3">
                            <button (click)="TerminateAccessButtonClicked(uni)" class="btn  w-25 maSmallerFonts my-2 mx-2"
                              [ngClass]="{'btn-outline-success': uni.UserzAccessStatus == 'Terminated','btn-outline-danger': uni.UserzAccessStatus != 'Terminated' }">
                              {{TerminateAccessButtonText}} </button>
                            <button class="btn btn-outline-success w-25 maSmallerFonts my-2 mx-2"
                              (click)="onEditButtonToggle()">{{this.EditButtonText}}</button>
                            <button (click)="DeleteThisUser(uni)"
                              class="btn btn-outline-danger w-25 maSmallerFonts my-2 mx-2">Delete</button>
                          </div>
                          <div class="col-12">
                            <small class="form-text alert alert-success" *ngIf="this.Errors.userDeleted.status == true">
                              {{this.Errors.userDeleted.message}}
                            </small>
                            <small class="form-text alert alert-success" *ngIf="this.Errors.accessTerminated.status == true">
                              {{this.Errors.accessTerminated.message}}
                            </small>
                            <small class="form-text alert alert-success" *ngIf="this.Errors.accessAllowed.status == true">
                              {{this.Errors.accessAllowed.message}}
                            </small>
                          </div>
                          <div style="border-radius:8px;" [ngClass]="{'d-none': this.EditButtonToggled == false,
                          'border border-warning bg-info text-dark m-3 p-2': this.EditButtonToggled == true}">
                            <form class="m-2 " #updateUniForm="ngForm"
                              (submit)="onSubmit_UpdateButton(updateUniForm,uni)">
                              <h6 class="text-light text-center">## You can change any or all of the following fields ##
                              </h6>
                              <hr class="w-100 mb-3 bg-warning">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>University Title:</label>
                                    <input type="text" class="form-control" placeholder="Enter University's Title:"
                                      name="UniTitle" [ngModel]="uni.TitleOfUniversity"
                                      (keyup)="checkTitleForRegisterUniversity(updateUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidTitle.status == true">
                                      {{this.Errors.invalidTitle.message}}
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>HECID:</label>
                                    <input type="text" class="form-control" placeholder="Enter HECID of university"
                                      name="UniHECID" [ngModel]="uni.HECIDofUniversity"
                                      (keyup)="checkHECIDForRegisterUniversity(updateUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidHECID.status == true">
                                      {{this.Errors.invalidHECID.message}}
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Username:</label>
                                    <input type="text" class="form-control" placeholder="Create Username for university"
                                      name="UniUsername" [ngModel]="uni.Username"
                                      (keyup)="checkUsernameIfUNIQUEorINVALID(updateUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidUsername.status == true">
                                      {{this.Errors.invalidUsername.message}}
                                    </small>
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.spacesAreNotAllowedInUsername.status == true">
                                      {{this.Errors.spacesAreNotAllowedInUsername.message}}
                                    </small>
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.usernameNotUnique.status == true">
                                      {{this.Errors.usernameNotUnique.message}}
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Password:</label>
                                    <input type="text" class="form-control" placeholder="Create Password for university"
                                      name="UniPassword" [ngModel]="uni.Password"
                                      (keyup)="checkPasswordForRegisterUniversity(updateUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidPassword.status == true">
                                      {{this.Errors.invalidPassword.message}}
                                    </small>
                                  </div>
                                </div>
                              </div>

                              <div class="d-flex justify-content-center">
                                <button class="btn btn-warning w-50 maSmallerFonts my-2 mx-2"type="submit">Update</button>

                              </div>
                              <div class="col-12">
                                <small class="form-text alert alert-danger" *ngIf="this.Errors.formHasErrors.status == true">
                                  {{this.Errors.formHasErrors.message}}
                                </small>
                                <small class="form-text alert alert-success"
                                  *ngIf="this.Errors.profileUpdated.status == true">
                                  {{this.Errors.profileUpdated.message}}
                                </small>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>




                    </div>
                  </div>
                </div>
              </div>

              <!-- Cards within card -->


            </div>
          </div>
        </div>

      </div>




      <div id="accordionOuter">
        <div class="card mt-2 mx-3">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-secondary py-2 px-1" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h4><b>Register a University</b></h4>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOuter">
            <div class="card-body">
              <form class="m-2 " #registerUniForm="ngForm" (submit)="onSubmit_RegisterButton(registerUniForm)">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>University Title:</label>
                      <input type="text" class="form-control" placeholder="Enter University's Title:"
                        (keyup)="checkTitleForRegisterUniversity(registerUniForm)" name="UniTitle" ngModel>
                      <small class="form-text rounded alert-danger py-0 px-3"
                        *ngIf="this.Errors.invalidTitle.status == true">
                        {{this.Errors.invalidTitle.message}}
                      </small>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>University HECID:</label>
                      <input type="text" class="form-control" placeholder="Enter HECID of university"
                        (keyup)="checkHECIDForRegisterUniversity(registerUniForm)" name="UniHECID" ngModel>
                      <small class="form-text rounded alert-danger py-0 px-3"
                        *ngIf="this.Errors.invalidHECID.status == true">
                        {{this.Errors.invalidHECID.message}}
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Username:</label>
                      <input type="text" class="form-control" placeholder="Create Username for university"
                        (keyup)="checkUsernameIfUNIQUEorINVALID(registerUniForm)" name="UniUsername" ngModel>
                      <small class="form-text rounded alert-danger py-0 px-3"
                        *ngIf="this.Errors.invalidUsername.status == true">
                        {{this.Errors.invalidUsername.message}}
                      </small>
                      <small class="form-text rounded alert-danger py-0 px-3"
                        *ngIf="this.Errors.spacesAreNotAllowedInUsername.status==true">
                        {{this.Errors.spacesAreNotAllowedInUsername.message}}
                      </small>
                      <small class="form-text rounded alert-danger py-0 px-3"
                        *ngIf="this.Errors.usernameNotUnique.status == true">
                        {{this.Errors.usernameNotUnique.message}}
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Password:</label>
                      <input type="text" class="form-control" placeholder="Create Password for university"
                        (keyup)="checkPasswordForRegisterUniversity(registerUniForm)" name="UniPassword" ngModel>
                      <small class="form-text rounded alert-danger py-0 px-3"
                        *ngIf="this.Errors.invalidPassword.status == true">
                        {{this.Errors.invalidPassword.message}}
                      </small>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end">
                  <button class="btn btn-outline-success w-25 maSmallerFonts my-2 mx-2" type="submit">Register</button>
                </div>
                <small class="form-text alert alert-danger" *ngIf="this.Errors.formHasErrors.status == true">
                  {{this.Errors.formHasErrors.message}}
                </small>
                <small class="form-text alert alert-success" *ngIf="this.Errors.profileCreated.status == true">
                  {{this.Errors.profileCreated.message}}
                </small>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div id="accordionOuterRejected" *ngIf="this.RejectedUniversitiesData.length>0">



        <div class="card mt-2 mx-3">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-secondary py-2 px-1" data-toggle="collapse"
                data-target="#collapseOneRejectedUniversities" aria-expanded="true"
                aria-controls="collapseOneRejectedUniversities">
                <h4><b>Rejected Universities</b></h4>
              </button>
            </h5>
          </div>
          <div id="collapseOneRejectedUniversities" class="collapse hide" aria-labelledby="headingOne"
            data-parent="#accordionOuterRejected">
            <div class="card-body">


              <!-- Search form -->
              <!-- <div class="row mb-2">
                <div class="col-12 d-flex justify-content-end">
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </div> -->
              <!-- Search form -->




              <!-- Cards within card -->

              <div id="accordionInner">
                <div class="card mb-1" *ngFor="let Rejecteduni of RejectedUniversitiesData">
                  <div class="card-header" [attr.id]="'heading'+Rejecteduni._id">

                    <button class="btn"
                      [ngClass]="{'btn-danger': Rejecteduni.UserzAccessStatus == 'Rejected'}"
                      style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#collapse' + Rejecteduni._id" aria-expanded="true"
                      [attr.aria-controls]="'collapse'+Rejecteduni._id"
                      (click)="TerminateAccessButtonToggle(Rejecteduni.UserzAccessStatus)">
                      {{Rejecteduni.TitleOfUniversity}}
                    </button>

                  </div>

                  <div [id]="'collapse'+Rejecteduni._id" class="collapse hide" [attr.aria-labelledby]="'heading'+Rejecteduni._id"
                    data-parent="#accordionInner">
                    <div class="card-body ">




                      <div class="row">
                        <div class="col-11 m-auto">
                          <!-- remove bg dark -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>HECID</th>
                                <th>University Title</th>
                                <th>Access Status</th>
                                <th>Username</th>
                                <th>Password</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>


                                <td>{{Rejecteduni.HECIDofUniversity}}</td>
                                <td>{{Rejecteduni.TitleOfUniversity}}</td>
                                <td>{{Rejecteduni.UserzAccessStatus}}</td>
                                <td>{{Rejecteduni.Username}}</td>
                                <td>{{Rejecteduni.Password}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="d-flex justify-content-end mr-3">
                            <button (click)="RejectedUniAllowAccessButtonClicked(Rejecteduni)" class="btn btn-outline-success w-25 maSmallerFonts my-2 mx-2">
                              Allow Access  </button>
                            <button class="btn btn-outline-success w-25 maSmallerFonts my-2 mx-2"
                              (click)="onRejectedUniEditButtonToggle()">{{this.RejectedUniEditButtonText}}</button>
                            <button (click)="DeleteThisUser(Rejecteduni)"
                              class="btn btn-outline-danger w-25 maSmallerFonts my-2 mx-2">Delete</button>
                          </div>
                          <div class="col-12">
                            <small class="form-text alert alert-success" *ngIf="this.Errors.userDeleted.status == true">
                              {{this.Errors.userDeleted.message}}
                            </small>
                            <small class="form-text alert alert-success" *ngIf="this.Errors.accessAllowed.status == true">
                              {{this.Errors.accessAllowed.message}}
                            </small>
                          </div>
                          <div style="border-radius:8px;" [ngClass]="{'d-none': this.RejectedUniEditButtonToggled == false,
                          'border border-warning bg-info text-dark m-3 p-2': this.RejectedUniEditButtonToggled == true}">
                            <form class="m-2 " #updateRejectedUniForm="ngForm"
                              (submit)="onSubmit_UpdateButton(updateRejectedUniForm,Rejecteduni)">
                              <h6 class="text-light text-center">## You can change any or all of the following fields ##
                              </h6>
                              <hr class="w-100 mb-3 bg-warning">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>University Title:</label>
                                    <input type="text" class="form-control" placeholder="Enter University's Title:"
                                      name="UniTitle" [ngModel]="Rejecteduni.TitleOfUniversity"
                                      (keyup)="checkTitleForRegisterUniversity(updateRejectedUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidTitle.status == true">
                                      {{this.Errors.invalidTitle.message}}
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>HECID:</label>
                                    <input type="text" class="form-control" placeholder="Enter HECID of university"
                                      name="UniHECID" [ngModel]="Rejecteduni.HECIDofUniversity"
                                      (keyup)="checkHECIDForRegisterUniversity(updateRejectedUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidHECID.status == true">
                                      {{this.Errors.invalidHECID.message}}
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Username:</label>
                                    <input type="text" class="form-control" placeholder="Create Username for university"
                                      name="UniUsername" [ngModel]="Rejecteduni.Username"
                                      (keyup)="checkUsernameIfUNIQUEorINVALID(updateRejectedUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidUsername.status == true">
                                      {{this.Errors.invalidUsername.message}}
                                    </small>
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.spacesAreNotAllowedInUsername.status == true">
                                      {{this.Errors.spacesAreNotAllowedInUsername.message}}
                                    </small>
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.usernameNotUnique.status == true">
                                      {{this.Errors.usernameNotUnique.message}}
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Password:</label>
                                    <input type="text" class="form-control" placeholder="Create Password for university"
                                      name="UniPassword" [ngModel]="Rejecteduni.Password"
                                      (keyup)="checkPasswordForRegisterUniversity(updateRejectedUniForm)">
                                    <small class="form-text rounded alert-danger py-0 px-3"
                                      *ngIf="this.Errors.invalidPassword.status == true">
                                      {{this.Errors.invalidPassword.message}}
                                    </small>
                                  </div>
                                </div>
                              </div>

                              <div class="d-flex justify-content-center">
                                <button class="btn btn-warning w-50 maSmallerFonts my-2 mx-2"type="submit">Update</button>

                              </div>
                              <div class="col-12">
                                <small class="form-text alert alert-danger" *ngIf="this.Errors.formHasErrors.status == true">
                                  {{this.Errors.formHasErrors.message}}
                                </small>
                                <small class="form-text alert alert-success"
                                  *ngIf="this.Errors.profileUpdated.status == true">
                                  {{this.Errors.profileUpdated.message}}
                                </small>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>




                    </div>
                  </div>
                </div>
              </div>

              <!-- Cards within card -->


            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>

