<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText"  routerLink="/TEACHER/Lab" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border rounded CurrentStatsHover ">
          <div class="row text-center  childSpansHoverYellow">
            <div class="col"><span class="mx-2">
                <h3>Evaluate Students</h3>
              </span></div>
          </div>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab'">Lab's Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Labtasks'">Manage Lab Tasks</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Evaluate Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/'">Exit Lab</a>

                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-75 ml-3" (click)="onLogout()">Logout</button>

              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <div class="row">
    <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2  p-1 maNav-bg-color minHeight838">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/TEACHER/Lab'">Lab Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Labtasks'">Manage Lab Tasks</a>
        </li>
        <li class="nav-item text-left">

          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Evaluate Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
        </li>

      </ul>

    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-0">















      <div id="accordionOuterStds">
        <div class="card  mt-2 mx-3">
          <div class="card-header noUnderlineForChildren noUnderlineForChildren" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-secondary w-100 text-left py-2 px-1" data-toggle="collapse"
                data-target="#collapseOneStd" aria-expanded="true" aria-controls="collapseOneStd">
                <h5><b>Evaluate Lab Challenges (MCQs only) <span class="text-success">**</span></b></h5>
              </button>
            </h5>
          </div>
          <div id="collapseOneStd" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionOuterStds">
            <div class="card-body">








              <div class="mx-2 mt-3" *ngIf="MCQ_ChallengesToEvaluate.length == 0">
                <div class="alert alert-info p-4">
                  <h5>No Labs Challenges to evaluate.</h5>
                </div>
              </div>



              <div id="accordionInnerFac">
                <div class="text-right"><button class="btn btn-outline-dark w-25 maSmallerFonts m-2">OK All MCQs at
                    once</button></div>
                <div class="card mb-1" *ngFor="let challengesToEvaluate of MCQ_ChallengesToEvaluate">
                  <div class="card-header noUnderlineForChildren" [attr.id]="'RegisteredFacultyCard'">

                    <button class="btn" style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#RegisteredFacultyCollapse' + challengesToEvaluate._id" aria-expanded="true"
                      [attr.aria-controls]="'collapse' + challengesToEvaluate._id">
                      {{'Student name here'}}
                    </button>

                  </div>

                  <div [id]="'RegisteredFacultyCollapse' + challengesToEvaluate._id" class="collapse hide"
                    [attr.aria-labelledby]="'RegisteredFacultyCard'" data-parent="#accordionInnerFac">
                    <div class="card-body ">

                      <div class="row">
                        <div class="col-11 m-auto">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>XPs</th>
                                <th>Allowed Time</th>
                                <th>Question</th>
                                <th>Passed/Failed</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{'15 XPs'}}</td>
                                <td>{{'20 seconds'}}</td>
                                <td>{{'Complete Lab CHallenge Question'}}</td>
                                <td>{{'Passed'}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Option A</th>
                              <th>Option B</th>
                              <th>Option C</th>
                              <th>Option D</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{challengesToEvaluate.title}}</td>
                              <td>{{challengesToEvaluate.title}}</td>
                              <td>{{challengesToEvaluate.title}}</td>
                              <td>{{challengesToEvaluate.title}}</td>
                            </tr>
                          </tbody>
                        </table> -->


                          <!-- <div class="d-flex justify-content-end mr-3">
                          !-- <button class="btn btn-danger w-25 maSmallerFonts my-2 mx-2"
                          [disabled]="this.Errors.LabChallengeDeleted.status"
                          (click)="DeleteThisChallenge(task._id)">Delete</button> -->
                          <!-- <button class="btn btn-success w-25 maSmallerFonts my-2 mx-2"
                          (click)="onLabEditToggle(LabEditForm)">{{this.EditLabButtonText}}</button> -->
                          <div class="text-right"><button class="btn btn-info w-25 maSmallerFonts m-2">OK</button></div>
                          <!-- </div> -->
                          <!-- <small class="form-text alert alert-success" *ngIf="this.Errors.LabChallengeDeleted.status">
                        {{this.Errors.LabChallengeDeleted.message}}
                      </small> -->



                          <!-- //================================================================================================================// -->





                          <!-- //=================================================================================================== -->




                        </div>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="card mb-1" *ngFor="let nonMcq_ChallengesToEvaluate of nonMCQ_ChallengesToEvaluate">
                  <div class="card-header noUnderlineForChildren" [attr.id]="'RegisteredFacultyCard'">

                    <button class="btn" style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#RegisteredFacultyCollapse' + nonMcq_ChallengesToEvaluate._id"
                      aria-expanded="true" [attr.aria-controls]="'collapse' + nonMcq_ChallengesToEvaluate._id">
                      {{nonMcq_ChallengesToEvaluate.title.substring(0,19)}}
                    </button>

                  </div>

                  <div [id]="'RegisteredFacultyCollapse' + nonMcq_ChallengesToEvaluate._id" class="collapse hide"
                    [attr.aria-labelledby]="'RegisteredFacultyCard'" data-parent="#accordionInnerFac">
                    <div class="card-body ">

                      <div class="row">
                        <div class="col-11 m-auto">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>XPs</th>
                                <th>Allowed Time</th>
                                <th>Question</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{nonMcq_ChallengesToEvaluate.title}}</td>
                                <td>{{nonMcq_ChallengesToEvaluate.title}}</td>
                                <td>{{nonMcq_ChallengesToEvaluate.title}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="d-flex justify-content-end mr-3">
                            <button class="btn btn-success w-25 maSmallerFonts my-2 mx-2">Pass</button>
                            <button class="btn btn-danger w-25 maSmallerFonts my-2 mx-2">Fail</button>
                            <!-- <button class="btn btn-success w-25 maSmallerFonts my-2 mx-2"
                          (click)="onLabEditToggle(LabEditForm)">{{this.EditLabButtonText}}</button>
                        <button class="btn btn-danger w-25 maSmallerFonts my-2 mx-2"
                          (click)="DeleteThisLab(lab)">Delete</button> -->
                          </div>
                          <!-- <small class="form-text alert alert-success" *ngIf="this.Errors.LabChallengeDeleted.status">
                        {{this.Errors.LabChallengeDeleted.message}}
                      </small> -->



                          <!-- //================================================================================================================// -->





                          <!-- //=================================================================================================== -->




                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>

      </div>


















      <div id="accordionOuterStds">
        <div class="card  mt-2 mx-3">
          <div class="card-header noUnderlineForChildren noUnderlineForChildren" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-secondary w-100 text-left py-2 px-1" data-toggle="collapse"
                data-target="#collapseOneStd" aria-expanded="true" aria-controls="collapseOneStd">
                <h5><b>Evaluate Lab Challenges (Desired Output & Code Completion ) <span
                      class="text-success">**</span></b></h5>
              </button>
            </h5>
          </div>
          <div id="collapseOneStd" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionOuterStds">
            <div class="card-body">








              <div class="mx-2 mt-3" *ngIf="MCQ_ChallengesToEvaluate.length == 0">
                <div class="alert alert-info p-4">
                  <h5>No Labs Challenges to evaluate.</h5>
                </div>
              </div>



              <div id="accordionInnerFac">
                <!-- <div class="text-right"><button class="btn btn-outline-dark w-25 maSmallerFonts m-2">OK All MCQs at once</button></div> -->
                <div class="card mb-1" *ngFor="let challengesToEvaluate of MCQ_ChallengesToEvaluate">
                  <div class="card-header noUnderlineForChildren" [attr.id]="'RegisteredFacultyCard'">

                    <button class="btn" style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#RegisteredFacultyCollapse' + challengesToEvaluate._id" aria-expanded="true"
                      [attr.aria-controls]="'collapse' + challengesToEvaluate._id">
                      {{'Student name here'}}
                    </button>

                  </div>

                  <div [id]="'RegisteredFacultyCollapse' + challengesToEvaluate._id" class="collapse hide"
                    [attr.aria-labelledby]="'RegisteredFacultyCard'" data-parent="#accordionInnerFac">
                    <div class="card-body ">

                      <div class="row">
                        <div class="col-11 m-auto">
                          <table class="table table-striped">
                            <thead>
                              <tr class="table-warning">
                                <th>XPs</th>
                                <th>Allowed Time</th>
                                <th>Question</th>
                                <!-- <th>Passed/Failed</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{'15 XPs'}}</td>
                                <td>{{'20 seconds'}}</td>
                                <td>{{'Complete Lab CHallenge Question'}}</td>
                                <!-- <td>{{'Passed'}}</td> -->
                              </tr>
                            </tbody>
                          </table>
                          <table class="table table-striped">
                            <thead>
                              <tr class="table-warning">
                                <th>Student's Answer</th>
                                <!-- <th>Allowed Time</th> -->
                                <!-- <th>Question</th> -->
                                <!-- <th>Passed/Failed</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-primary">
                                <!-- <td>{{'15 XPs'}}</td> -->
                                <!-- <td>{{'20 seconds'}}</td> -->
                                <td>{{'Complete LabChallengeOptionA to be displayed here'}}</td>
                                <!-- <td>{{'Passed'}}</td> -->
                              </tr>
                            </tbody>
                          </table>
                          <!-- <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Option A</th>
                              <th>Option B</th>
                              <th>Option C</th>
                              <th>Option D</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{challengesToEvaluate.title}}</td>
                              <td>{{challengesToEvaluate.title}}</td>
                              <td>{{challengesToEvaluate.title}}</td>
                              <td>{{challengesToEvaluate.title}}</td>
                            </tr>
                          </tbody>
                        </table> -->


                          <!-- <div class="d-flex justify-content-end mr-3">
                          !-- <button class="btn btn-danger w-25 maSmallerFonts my-2 mx-2"
                          [disabled]="this.Errors.LabChallengeDeleted.status"
                          (click)="DeleteThisChallenge(task._id)">Delete</button> -->
                          <!-- <button class="btn btn-success w-25 maSmallerFonts my-2 mx-2"
                          (click)="onLabEditToggle(LabEditForm)">{{this.EditLabButtonText}}</button> -->
                          <div class="text-right">
                            <button class="btn btn-success w-25 maSmallerFonts m-2">Pass</button>
                            <button class="btn btn-danger w-25 maSmallerFonts m-2">Fail</button>
                          </div>
                          <!-- </div> -->
                          <!-- <small class="form-text alert alert-success" *ngIf="this.Errors.LabChallengeDeleted.status">
                        {{this.Errors.LabChallengeDeleted.message}}
                      </small> -->



                          <!-- //================================================================================================================// -->





                          <!-- //=================================================================================================== -->




                        </div>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="card mb-1" *ngFor="let nonMcq_ChallengesToEvaluate of nonMCQ_ChallengesToEvaluate">
                  <div class="card-header noUnderlineForChildren" [attr.id]="'RegisteredFacultyCard'">

                    <button class="btn" style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#RegisteredFacultyCollapse' + nonMcq_ChallengesToEvaluate._id"
                      aria-expanded="true" [attr.aria-controls]="'collapse' + nonMcq_ChallengesToEvaluate._id">
                      {{nonMcq_ChallengesToEvaluate.title.substring(0,19)}}
                    </button>

                  </div>

                  <div [id]="'RegisteredFacultyCollapse' + nonMcq_ChallengesToEvaluate._id" class="collapse hide"
                    [attr.aria-labelledby]="'RegisteredFacultyCard'" data-parent="#accordionInnerFac">
                    <div class="card-body ">

                      <div class="row">
                        <div class="col-11 m-auto">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>XPs</th>
                                <th>Allowed Time</th>
                                <th>Question</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{nonMcq_ChallengesToEvaluate.title}}</td>
                                <td>{{nonMcq_ChallengesToEvaluate.title}}</td>
                                <td>{{nonMcq_ChallengesToEvaluate.title}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="d-flex justify-content-end mr-3">
                            <button class="btn btn-success w-25 maSmallerFonts my-2 mx-2">Pass</button>
                            <button class="btn btn-danger w-25 maSmallerFonts my-2 mx-2">Fail</button>
                            <!-- <button class="btn btn-success w-25 maSmallerFonts my-2 mx-2"
                          (click)="onLabEditToggle(LabEditForm)">{{this.EditLabButtonText}}</button>
                        <button class="btn btn-danger w-25 maSmallerFonts my-2 mx-2"
                          (click)="DeleteThisLab(lab)">Delete</button> -->
                          </div>
                          <!-- <small class="form-text alert alert-success" *ngIf="this.Errors.LabChallengeDeleted.status">
                        {{this.Errors.LabChallengeDeleted.message}}
                      </small> -->



                          <!-- //================================================================================================================// -->





                          <!-- //=================================================================================================== -->




                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>

      </div>
















    </div>



  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
