.container-fluid{
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}
body{

  background-color: #0466c8;
}

/* Top Row CSS starts*/
.maTopRow{
  background-color: #0e103d;
  min-height: 16vh;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
}
.CurrentStatsHover :hover{
  background-color: #1b1d49;

}


/* GBCL LOGO CSS STARTS */
.logoText{
  font-size: 20px;
  color: #333F4F;
  font-weight: bolder;
  margin: 2% 4%;
}
#logoImg{
  background: transparent;
  width: 36px;
  display: block;
  margin: auto;
}
.bgYellowOnHover :hover{
  background:  yellow;
  color: #333F4F;
  transition: ease 0.5s;
}
/* GBCL LOGO CSS ENDS */

.hoverYellow :hover{
  color: yellow;
  text-decoration: none;
  font-weight: bolder;
}
.childSpansHoverYellow span:hover{
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.Text12px{
font-size: 12px;
}

.Text10pxItalicYellow:hover{
  color: white;
  font-weight: bolder;
}
.Text10pxItalicYellow{
font-size: 10px;
color: yellow;
font-style: italic;
}
/* TOP ROW CSS ENDS */






/* SIDENAV CSS STARTS */
.minHeight83pt6{
  min-height: 83.6vh;
}
.sideNavLink{
  background-color: #fff;
  font-weight: 500;
  border: solid transparent 2px;
  border-radius: 2px;
  margin: 0 0 4px 0;
  padding: 8px 2px 4px 8px;
}
#sideNavAnchorParentDiv a:hover{
  color: #0d6ccc;
}
/* SIDENAV CSS ENDS */





/* UTILITY CSS CLASSES */
.minHeight6vh{
  min-height: 6vh;
}
.borderOnHover :hover{
  border: 1px solid whitesmoke;
}
/* UTILITY CSS CLASSES END*/
