<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
      <div class="col-12 maTopRow ">
          <!-- this column isfurther divided into three portions -->
          <!-- first portion for logo -->
          <!-- second portion for Student Stats -->
          <!-- third portion for Logout n student name -->
          <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
          <div class="row text-center">

              <!-- ---------------- -->
              <!-- GBCL LOGO COLUMN -->

              <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
                  <a class="btn  border-warning w-100 logoText" href="../StudentDashboard.html" title="Gamification Based Coding Labs"><img src="../../../../assets/images/logo.png" id="logoImg" ><b>GBCL</b></a>
              </div>

              <!-- GBCL LOGO COLUMN-END -->
              <!-- -------------------- -->






              <!-- ----------- -->
              <!-- Stats column -->
              <div class="col-12 col-sm-6 col-md-8 border rounded text-left h-100 m-auto  CurrentStatsHover">


                      <div class="row childSpansHoverYellow">
                          <div class="col-12 text-center text-underline pb-1 hoverYellow"><span><u><h5 class="">Current Stats</h5></u></span></div>
                          <div class="col-6 col-lg-4 Text12px">Current XPs: <span>0 XP</span></div>
                          <div class="col-6 col-lg-4 Text12px">Current CPPs: <span>0 CPP</span></div>
                          <div class="col-6 col-lg-4 Text12px"><span >Level: 0</span></div>
                          <div class="col-6 col-lg-4 Text12px">Current Badge: <span>ABC</span></div>
                          <div class="col-6 col-lg-4 Text12px">Next Badge: <span>XYZ</span></div>
                          <div class="col-6 col-lg-4 Text10pxItalicYellow text-right">--XPs Required for Promotion: <span >120 XP</span></div>
                      </div>
                      </div>
              <!-- STATS COL END -->
              <!-- ------------- -->




              <!-- ---------- -->
              <!-- LOGOUT COL -->
              <div class="col-12 col-sm-3 col-md-2">
                  <div class="row">
                      <div class="col-12 pt-3 pb-2">Abdur Rehman</div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <a class="btn btn-danger w-100 "  [routerLink]="'/'">Logout</a>
                      </div>
                  </div>
              </div>
              <!-- LOGOUT COL ENDS-->
              <!-- ----------------->

          </div>

      </div>
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








<!-- -------------------------------------------------------------------------------------------------------------------------------- -->








  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->


  <!-- [] represents row and () represents column ENCLOSINGS -->
  <!-- OuterRow[col(InnerRow[SideNaveCol()]), col(InnerRow[MainAreaCol()])] -->

  <div class="row">



  <!-- -------------------------------------------------------------------------------------- -->
  <!--SIDENAV MENU OF STUDENT STARTS in [container-fluid>>div.row]-->
  <!-- ----------------------------------------------------------------------------------------->
      <div class="col-12 col-md-3 col-lg-2 minHeight83pt6" >
          <div class="d-flex flex-column pt-3 sideNavAnchorsHovering" id="sideNavAnchorParentDiv">
             <a class="sideNavLink">Dashboard</a>
             <a class="sideNavLink">Labs</a>
             <a class="sideNavLink" title="Code Practice Area">CPA</a>
             <a class="sideNavLink">View Leaderboard</a>
             <a class="sideNavLink">Take Challenge</a>
          </div>
      </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!--SIDENAV MENU OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








  <!-- -------------------------------------------------------------------------------------- -->
  <!--MAIN AREA OF STUDENT STARTS in [container-fluid>>div.row]-->
  <!-- ----------------------------------------------------------------------------------------->
      <div class="col-12 col-md-9 col-lg-10 minHeight83pt6 bg-secondary" >
          <div class="row"><div class="col-12 bg-success minHeight6vh"></div></div>
          <div class="row"><div class="col-12 bg-dark minHeight6vh"></div></div>
      </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!--MAIN AREA OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->








  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->









</div>
