<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" href="#" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border rounded text-left h-100 m-auto p-2 text-center">
          <h3>Teacher's Profile Settings</h3>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">

          <div class="col-12 btn-group">
            <!-- Example single danger button -->

<button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{localStorageUsername}}
</button>
<div class="dropdown-menu bg-warning" >
  <a class="dropdown-item" [routerLink]="'/TEACHER'">Dashboard</a>
  <div class="dropdown-divider"></div>
  <button type="button" class="btn btn-outline-danger w-75 ml-3" (click)="onLogout()">Logout</button >

</div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">
  </div>







  <div class="row ">
    <div class="col-12 p-0">
      <div class="container-fluid bg-dark minHeight838 pt-3">


        <div class="container border rounded p-3  mt-4 text-light ">
          <div class="row">
          <div class="col-12">  <h4 class="text-center mb-3 ">Teacher's Details</h4></div>
          <hr class=" w-75 mx-auto mb-3">
          <div class="col-sm-5 ml-3 mb-3"> <span class="">Name: Mr. Rizwan Rashid</span> </div>
          <div class="col-sm-6 ml-3 mb-3"> <span class="">ID: ---Teacher ID here---</span> </div>
          <div class="col-sm-11 ml-3 mb-3"> University: <span class=""> COMSATS UNIVERSITY ISLAMABAD</span> </div>

        </div>


        <div class="col-12">  <h4 class="text-center mt-4 mb-3 ">Profile Settings</h4></div>
        <hr class=" w-75 mx-auto mb-3">
        <div class="row">

        <div class="col-sm-4 col-lg-5 ml-3 mb-3"> <span class="">New Password: </span> <input type="text"  > </div>
        <div class="col-sm-6 ml-3 mb-3"> <span class="">Re-enter Password: </span> <input type="text"  >
        <button class="btn btn-small ml-2 btn-success">Update</button>

          </div>
        </div>
          <hr>
        </div>

      </div>

    </div>








  </div>








</div>
