<div class="body404">
  <main style="width: 600px; margin: 0px;">
    <img class="image-thumbnail rounded mx-auto d-block" src="../../../assets/images/404.png" width="350" height="340" alt="" srcset="">
    <p class="mt-0">I'm afraid you've found a page that doesn't exist on GBCL. That can happen when you follow a link to something that has since been deleted. Or the link was incorrect to begin&nbsp;with.</p>
    <p>Sorry about that. Review the URL for spelling mistakes and case check.</p>

  <a class="btn btn-lg w-100 mt-2 btn-warning " (click)="goBack()">Go Back</a>
    </main>
</div>


