<!-- <div class="col-12 col-md-6 col-lg-4 px-2 py-3"> -->


 <div class="card border-secondary  text-warning">
              <div class="card-header bg-warning text-dark  py-4 text-warning">
                  <b>BSE-7B/OOP</b>
              </div>
              <div class="card-body bg-dark">
                  <h5 class="card-title">Object Oriented Lab</h5>
                  <h6>Host: <span>Mr. Attique Zaffar</span></h6>
                  <h6>Class: <span>BSE-7B</span></h6>
                  <h6 class="mb-4">Members: <span>0</span></h6>

                  <hr>
                  <hr>
                  <div class="container text-center">

                      <a [routerLink]="'/STUDENT/Lab/CPA'"  class="btn btn-outline-warning w-75 mt-3 "><b>VISIT LAB</b></a>


                  </div>
              </div>
            </div>


<!-- </div> -->
