<div class="bg-gradientDoks">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 maTopRow ">
        <div class="row text-center">
          <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
            <a class="btn  border-warning w-100 logoText" title="Gamification Based Coding Labs"><img
                src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
          </div>

          <div class="col-12 col-sm-6 col-md-8 border rounded CurrentStatsHover">


            <div class="row text-center  childSpansHoverYellow">
              <div class="col"><span class="mx-2">
                  <h3>Doks Prototype Component</h3>
                </span></div>
            </div>
          </div>

          <div class="col-12 col-sm-3 col-md-2">
            <div class="row">
              <div class="col-12 btn-group">
                <!-- Example single danger button -->

                <button type="button" class="btn btn-warning w-50 mx-1 mt-3" >Logout</button>

              </div>

            </div>
          </div>
          <!-- LOGOUT COL ENDS-->
          <!-- ----------------->

        </div>

      </div>
      <hr class="bg-warning p-0 m-0">
    </div>
    <!--1st row ends-->
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- TOP ROW ENDS-->
    <!-- ----------------------------------------------------------------------------------------->




    <div class="row">
      <!--2nd row starts-->
      <div class="col-12 col-sm-3 col-lg-2 maNav-bg-color minHeight838 p-1">
        <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
          <li class="nav-item text-left">
            <a class="nav-link active" [routerLink]="'/ADMIN'">Dashboard</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link" [routerLink]="'/ADMIN/ManageUniversities'">Manage Universities</a>
          </li>
          <!-- <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/ADMIN/JoinRequests'">Join Requests</a>
        </li> -->
          <!-- <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/STUDENT/Lab/CPA'">Visit CPA</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/STUDENT/Lab/Rivals'">Rivals' Notifications</a>
        </li> -->
        </ul>
      </div>
      <div class="col-12 col-sm-9 col-lg-10 p-1 " >







      </div>



    </div>
    <!--2nd row ends-->



    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







    <!-- -------------------------------------------------------------------------------------- -->
    <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
    <!-- ----------------------------------------------------------------------------------------->









  </div>

</div>
