<div class="container-fluid p-0">
  <app-homepage-nav-search></app-homepage-nav-search>

</div>
<div class="container">



  <app-aboutus></app-aboutus>
  <app-signup-form></app-signup-form>


</div>

<div class="row p-0 m-0 w-100 text-center" style="position: fixed; bottom: 0px;">
  <div class="col-12 p-0 m-0">
    <div id="accordion">
      <div class="card bg-dark">
        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body overflow-auto" style="max-height: 500px;">
            <!-- //=============================== -->
            <table class="table table-striped table-dark text-left" style="font-size: 14px;">
              <thead>
                <tr class="text-warning">
                  <th scope="col">#</th>
                  <th scope="col">User Type</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                  <th scope="col">Access Status</th>
                  <th scope="col">User's University</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of UsersRecieved; let i=index">
                  <th scope="row" class="text-warning">{{i+1}}</th>
                  <td>{{user.UserType}}</td>
                  <td>{{user.Username}}</td>
                  <td>{{user.Password}}</td>
                  <td>{{user.UserzAccessStatus}}</td>
                  <td *ngIf="user.UniversityNameOfUser != null">{{user.UniversityNameOfUser}}</td>
                  <td *ngIf="user.UniversityNameOfUser == null">N/A</td>
                </tr>
          <!-- <tr>
                  <th scope="row" class="text-warning">2</th>
          u        <td>University</td>
                  <td>PUCIT</td>
                  <td>qwerty123</td>
                </tr>
                <tr>
                  <th scope="row" class="text-warning">3</th>
                  <td>Teacher</td>
                  <td>MWaqar</td>
                  <td>qwerty123</td>
                </tr> -->
              </tbody>
            </table>
            <!-- //=============================== -->
          </div>
        </div>
        <div class="px-3 py-0 my-0"  id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link p-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
              Sample Users
            </button>
          </h5>
        </div>


      </div>
    </div>
  </div>
</div>
