<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" routerLink="/STUDENT/Lab"
            title="Gamification Based Coding Labs"><img src="../../assets/images/logo.png" alt="logo"
              id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border border-dark rounded text-left h-100 m-auto p-4 text-center">
          <h3>Leaderboard</h3>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/'">Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/AllLabs'">Attempt Lab Tasks</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Rivals'">Rivals</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onExitLabClicked()">Exit
                  Lab</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onLogout()">Logout</button>



              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <!-- <hr class="bg-warning p-0 m-0"> -->
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <div class="row">
    <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2  p-1 maNav-bg-color minHeight838">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/STUDENT/Lab'" >Lab Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/STUDENT/Lab/AllLabs'">Attempt Lab Tasks</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/STUDENT/Lab/Rivals'">Rivals</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/STUDENT/Lab/Leaderboard'">View Leaderboard</a>
        </li>
      </ul>

    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-0">


      <h4 class="text-warning text-center p-3 m-1 mt-4"><b>TOP 7 STUDENTS - HIGH ACHIEVERS</b></h4>

      <!-- below div represents : 1 student only. -->
      <div class="border rounded p-3 m-3 bg-dark font-weight-bold" *ngFor="let lead of leaderboard"
        [style]="'color:#'+lead?.color">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Rank: {{lead?.rank}}</span>
        =>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{lead?.name}}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>XPs: {{lead?.XPs}}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Level: {{lead?.level}}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Badge: {{lead?.badge}}</span>
      </div>

    </div>



  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
