<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn w-100  border border-warning" [routerLink]="'/'" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-4 col-md-5 border rounded text-left h-100 m-auto p-2 text-center">
          <h5><b>Challenges Window</b></h5>
        </div>
        <!-- Stats column -->
        <div class="col-12 col-sm-2 col-md-3 border rounded text-left h-100 m-auto p-2 text-center">
          <h5 class="text-warning" *ngIf="UNCHANGED_STATS == 0">Unchanged Stats</h5>
          <h5 class="text-warning" *ngIf="UNCHANGED_STATS > 0">{{CHANGED_XP+' XPs ++'}}</h5>
          <h5 class="text-warning" *ngIf="UNCHANGED_STATS < 0">{{CHANGED_XP+' XPs --'}}</h5>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/'">Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/CPA'">CPA</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Rivals'">Rivals</a>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onExitLabClicked()">Exit
                  Lab</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onLogout()">Logout</button>



              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">

  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12">
      <!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button> -->


      <div class="row text-center text-warning bg-dark" *ngIf="!SHOW_CHALLENGE_RELATED_DIVS">
        <div class="col-sm-8 p-2">
          <h2>No Challenges!</h2>
          <!-- <h2>{{unAttemptedChallenges[0].ChallengeQuestion}}</h2> -->

        </div>
      </div>
      <div class="row text-center text-warning bg-dark">
        <div class="col-sm-8 p-2">
          <h2 *ngIf="SHOW_CHALLENGE_RELATED_DIVS">{{unAttemptedChallenges[this.i]?.ChallengeQuestionType}}</h2>
          <!-- <h2>{{unAttemptedChallenges[0].ChallengeQuestion}}</h2> -->

        </div>
        <div class="col-sm-4 my-auto"> <span *ngIf="SHOW_CHALLENGE_RELATED_DIVS">{{timeLeft}} Seconds Left</span></div>
      </div>
      <form (submit)="onSubmitChallenge(ChallengesForm)" name="challengesForm" #ChallengesForm="ngForm">
        <div class="row">

          <div class="col-sm-8 bg-light rounded pt-4 pl-5 minHeight40vh">
            <h5 *ngIf="!SHOW_CHALLENGE_RELATED_DIVS">Either you have completed all challenges or no challenges are yet
              assigned to this lab</h5>

            <div *ngIf="SHOW_CHALLENGE_RELATED_DIVS">
              <h4>Question {{this.i+1}} of {{this.unAttemptedChallenges?.length}}:</h4>


              <div *ngIf="SHOW_CHALLENGE_RELATED_DIVS">{{unAttemptedChallenges[this.i]?.ChallengeQuestion}} </div>
              <div *ngIf="unAttemptedChallenges[this.i]?.ChallengeQuestionType == 'MCQ'">


                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio"
                    [value]="unAttemptedChallenges[this.i]?.ChallengeOptionA"
                    (change)="radioChangedHandler($event)">
                    {{unAttemptedChallenges[this.i]?.ChallengeOptionA}}
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio"
                    [value]="unAttemptedChallenges[this.i]?.ChallengeOptionB"
                    (change)="radioChangedHandler($event)">
                    {{unAttemptedChallenges[this.i]?.ChallengeOptionB}}
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio"
                    [value]="unAttemptedChallenges[this.i]?.ChallengeOptionC"
                    (change)="radioChangedHandler($event)">
                    {{unAttemptedChallenges[this.i]?.ChallengeOptionC}}
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio"
                    [value]="unAttemptedChallenges[this.i]?.ChallengeOptionD"
                    (change)="radioChangedHandler($event)">
                    {{unAttemptedChallenges[this.i]?.ChallengeOptionD}}
                  </label>
                </div>
                <!-- <input class="form-check-input" type="radio" value="dog"
                 name="gob" value="i" [checked]="true"
                (change)="onItemChange($event.target.value)"/> -->

                <!-- a. {{unAttemptedChallenges[this.i]?.ChallengeOptionA}} <br>
              b. {{unAttemptedChallenges[this.i]?.ChallengeOptionB}} <br>
              c. {{unAttemptedChallenges[this.i]?.ChallengeOptionC}} <br>
              d. {{unAttemptedChallenges[this.i]?.ChallengeOptionD}} <br> -->
              </div>
            </div>
          </div>
          <div class="col-sm-4">

            <div class="container border border-warning rounded mt-1 text-light">
              <h5 class="text-center">Current Stats</h5>
            </div>
            <div class="container border border-warning rounded text-light">

              <p class="mt-1">Current XPs: <span>{{CURRENT_XPs}}</span></p>

              <p class="mct-1">Current Level: <span>{{CURRENT_LEVEL}}</span></p>
              <p class="mct-1">XPs required for promotion: <span>{{XPs_FOR_PROMOTION}}</span> </p>
              <p class="mct-1">Current Badge: <span>{{CURRENT_BADGE}}</span> </p>
              <p class="mct-1">Next Badge: <span>{{NEXT_BADGE}}</span> </p>



            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8 mt-1">
            <button type="submit" class="btn btn-small px-4 float-right btn-outline-warning" >Submit
              Challenge</button>
            <!-- <button class="btn btn-small px-4 float-right btn-outline-warning mr-1" (click)="takeHint()">take hint</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
