<div class="row p-0 m-0">
  <div class="col-12 maTopRow p-0">
    <div class="row  m-0 p-0">

      <!-- ---------------- -->
      <!-- GBCL LOGO COLUMN -->

      <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover mr-sm-5">
        <a class="btn  border-warning w-100 logoText mx-3 my-2" href="#" title="Gamification Based Coding Labs"><img
            src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
      </div>

      <!-- GBCL LOGO COLUMN-END -->
      <!-- -------------------- -->






      <!-- ----------- -->
      <!-- Stats column -->
      <div class="col-12 col-sm-9 col-md-9 ml-auto">
        <nav class="navbar navbar-expand-md navbar-dark">

          <button class="navbar-toggler text-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="ml-auto" (submit)="loginUser(signInForm)" #signInForm="ngForm">


              <div class="row ml-auto m-0">

                <div class="col-5  mt-1">
                    <!-- Username -->
                  <input class="form-control mt-3 mt-sm-0" type="text" placeholder=" Enter Username"
                    name="UsersEnteredUsername" ngModel #UsernameInput
                    (keyup)="onKeyUpUsernameInput(UsernameInput.value)">

                </div>

                <div class="col-5  mt-1">
                  <!-- Password -->
                  <input class="form-control mt-3 mt-sm-0" type="password" placeholder="Password"
                    name="UsersEnteredPassword" ngModel #PasswordInput
                    (keyup)="onKeyUpPasswordInput(PasswordInput.value)">
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.invalidPassword.status == true">
                    <span>--{{this.Errors.invalidPassword.message}}</span>
                  </small>
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.incorrectPassword.status == true">
                    <span>--{{this.Errors.incorrectPassword.message}}</span>
                  </small>


                </div>


                <div class="col-1 mt-1">
                  <!-- Login Button -->
                  <button class="btn btn-outline-success ml-auto maWidth-100 my-2 my-sm-0 " type="submit">Login</button>
                </div>


              </div>
              <div class="row p-0 m-0">
                <div class="col-8 pt-1 m-0">
                  <!-- USERNAME's Errors -->
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.invalidUsername.status == true">
                    <span>--{{this.Errors.invalidUsername.message}}</span>
                  </small>
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.notAUser.status == true">
                    <span>--{{this.Errors.notAUser.message}}</span>
                  </small>

                  <!-- Access of User's Errors -->
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.uniPendingLoginAccess.status == true">
                    <span>--{{this.Errors.uniPendingLoginAccess.message}}</span>
                  </small>
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.userPendingLoginAccess.status == true">
                    <span>--{{this.Errors.userPendingLoginAccess.message}}</span>
                  </small>
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.userTerminatedLoginAccess.status == true">
                    <span>--{{this.Errors.userTerminatedLoginAccess.message}}</span>
                  </small>
                  <small class="d-block alert alert-danger p-0 m-0" *ngIf="this.Errors.userRejectedLoginAccess.status == true">
                    <span>--{{this.Errors.userRejectedLoginAccess.message}}</span>
                  </small>
                  <small class="d-block alert alert-danger px-1 m-0" *ngIf="this.Errors.userTerminatedLoginAccessBecauseUniTerminated.status == true">
                    <span>--{{this.Errors.userTerminatedLoginAccessBecauseUniTerminated.message}}</span>
                  </small>
                </div>
              </div>

              <!--   -->
            </form>

          </div>
        </nav>
      </div>
      <!-- STATS COL END -->
      <!-- ------------- -->





    </div>










  <div *ngIf="showSpinner">
    <div id="opaque" class="d-block"></div>
    <div id="spinner" class="loader"></div>
  </div>

<!--


// Button trigger modal
<button  #spinnerBtn ngModel type="button" class=" btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

// Modal
<div class="modal fade"   id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog spinnerPlacing" role="document">


    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>


  </div>
</div> -->





















  </div>
  <hr class="bg-warning p-0 m-0">
</div>
<!--1st row ends-->
