<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" routerLink="/TEACHER/Lab"
            title="Gamification Based Coding Labs"><img src="../../assets/images/logo.png" alt="logo"
              id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border border-dark rounded CurrentStatsHover ">
          <div class="row text-center  childSpansHoverYellow">
            <div class="col"><span class="mx-2">
                <h3>Course Labs</h3>
              </span></div>
          </div>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab'">Lab's Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/AllLabs'">Lab Course</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Labtasks'">Create Lab Tasks</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Review Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
                <button type="button" class="btn btn-outline-danger w-100" (click)="onExitLabClicked()">Exit
                  Lab</button>

                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-100" (click)="onLogout()">Logout</button>

              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <!-- <hr class="bg-warning p-0 m-0"> -->
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <div class="row">
    <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2  p-1 maNav-bg-color minHeight838">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/TEACHER/Lab'" >Lab Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/TEACHER/Lab/AllLabs'">View Course Labs</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Labtasks'">Create Lab Tasks</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Review Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
        </li>

      </ul>

    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-0">













      <div id="accordionOuter2">
        <div class="card  mt-2 mx-3"  *ngFor="let LabNumber of LabNumbers;let i=index">
          <div class="card-header" [attr.id]="'headingOne2'+LabNumber._id">
            <h5 class="mb-0">
              <!-- data-target="#collapseOne2" (click)="setViewStatsFalse()" -->
              <button class="btn btn-link text-secondary py-2 px-1" data-toggle="collapse" [attr.data-target]="'#collapseOne2'+LabNumber._id"
                aria-expanded="true" aria-controls="collapseOne2" (click)="extractLabTasksOfThisLabNumber(LabNumber)">
                <h4><b> {{'Lab Number : '+LabNumber.LabNumber}} <span class="text-info"></span></b></h4>
              </button>
            </h5>
          </div>
          <div [attr.id]="'collapseOne2'+LabNumber._id" class="collapse hide" [attr.aria-labelledby]="'headingOne2'+LabNumber._id" data-parent="#accordionOuter2">
            <div class="card-body">



              <div class="alert alert-info" *ngIf="CURRENT_LABNUMBERZ_TASKS.length ==0">
                No tasks created for this lab yet.
              </div>



              <!-- Cards within card -->

              <div id="accordionInner2">
                <div class="card mb-1" *ngFor="let task of CURRENT_LABNUMBERZ_TASKS">
                  <div class="card-header" [attr.id]="'RegisterUniversityCard2'">
                    <!-- (click)="setViewStatsFalse()" -->
                    <button class="btn" style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#RegisterUniversityCollapse2' + task._id" aria-expanded="true"

                      [attr.aria-controls]="'collapse' + task._id">
                      {{task.LabTaskTitle}}

                    </button>

                  </div>

                  <div [id]="'RegisterUniversityCollapse2' + task._id" class="collapse hide"
                    [attr.aria-labelledby]="'RegisterUniversityCard2'" data-parent="#accordionInner2">
                    <div class="card-body ">

                      <div class="row">
                        <div class="col-11 m-auto">
                          <!-- remove bg dark -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Task Question</th>
                                <th>Task Solution</th>
                                <th>XPs</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>


                                <td>{{task.LabTaskQuestion}}</td>
                                <td><pre>{{task.LabTaskAnswer}}</pre></td>
                                <td>{{task.LabTaskXPs}}</td>
                              </tr>
                            </tbody>
                          </table>




                          <!-- <div *ngIf="ViewStats == true">

                            <div class="row">
                              <div class="col-11 m-auto">

                                <div  class="alert alert-info my-2" *ngIf="FetchedAllAttemptedLabTasksByStud.length==0">
                                  No Lab Tasks Yet done by {{LabMemberStudent.FirstNameOfUser+' '+LabMemberStudent.LastNameOfUser}}

                                </div>
                                <div class="YahanFOrLoopLaganaHai" *ngFor="let fetchedSol of FetchedAllAttemptedLabTasksByStud">

                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Task XPs</th>
                                        <th>Lab Task</th>
                                        <th>Gained XPs</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>


                                        <td>{{fetchedSol.LabTaskXPs}}</td>
                                        <td>{{fetchedSol.LabTaskQuestion}}</td>
                                        <td>{{fetchedSol.GainedXPs}}</td>

                                      </tr>
                                    </tbody>
                                  </table>
                                  <div>
                                    <label style="text-decoration: underline;">Code By Student</label>
                                    <pre>{{fetchedSol.LabTaskAnswerCode}}</pre>
                                    <label style="text-decoration: underline;">Output By Student</label>
                                    <pre>{{fetchedSol.LabTaskAnswerOutput}}</pre>

                                    <label style="text-decoration: underline;">Input By Student</label>
                                    <pre>{{fetchedSol.LabTaskAnswerInput}}</pre>

                                  </div>

                                </div>
                              </div>
                            </div>

                          </div> -->



                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>

              <!-- Cards within card -->


            </div>
          </div>
        </div>

      </div>


















    </div>



  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
