<div class="row" id="Indexrow-Registration">
  <div class="col-sm-7 m-auto">



    <div class="card text-white bg-dark mb-3">
      <div class="card-header border border-dark text-light bg-dark p-4" id="SIGNUP">
        <h3>Register with GBCL</h3>
      </div>

      <hr class="bg-warning">
      <div class="card-body" id="myCardbody">
        <form class="p-3  m-auto" (submit)="onSignUpClicked(signupForm)" #signupForm="ngForm">


          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control"
            name="EnteredEmailAddress"
            ngModel
            required
            minlength="7">
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group ">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control " name="EnteredPassword" ngModel>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="reenterPassInput">Re-Enter Password</label>
                <input type="password" class="form-control  " id="reenterPassInput">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12 text-center">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Sign up as</label>
                </div>
                <select class="custom-select"  >
                  <option selected disabled>You are?</option>
                  <option value="student"><b>a Student</b></option>
                  <option value="teacher"><b>a Teacher</b>
                  </option>
                  <option value="university"><b>a University</b></option>
                </select>
              </div>

            </div>
          </div>





          <div class="row">
            <div class="col-sm-12 text-center">


              <div class="form-group " *ngIf="">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control " id="exampleInputPassword1">
              </div>



            </div>
          </div>





          <div class="text-center">
            <button class="btn btn-primary w-50 m-auto" type="submit">Sign up</button>
            <br>
            <button class="btn btn-primary w-50 m-auto" (click)="getTheUser()">Create User</button>
            <br>
            <button type="button" [routerLink]="'/ADMIN'" class="btn btn-primary w-25 mx-2 mt-1">Admin</button>
            <button type="button" [routerLink]="'/STUDENT'" class="btn btn-primary w-25 mx-2 mt-1">STUDENT</button>
            <br>
            <button type="button" [routerLink]="'/TEACHER'" class="btn btn-primary w-25 mx-2 mt-1">TEACHER</button>
            <button type="button" [routerLink]="'/UNIVERSITY'"
              class="btn btn-primary w-25 mx-2 mt-1">UNIVERSITY</button>

          </div>

        </form>
      </div>

    </div>

  </div>
</div>
