<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" href="#" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border rounded CurrentStatsHover ">
          <div class="row text-center  childSpansHoverYellow">
            <div class="col"><span class="mx-2">
                <h4>University Dashboard</h4>
                <h6>{{this.UNIVERSITY_TITLE}}</h6>
              </span></div>
          </div>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/UNIVERSITY'">Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/UNIVERSITY/ManageJoinRequests'">Manage Join Reqs</a>
                <a class="dropdown-item" [routerLink]="'/UNIVERSITY/ManageMembers'">Manage Members</a>
                <a class="dropdown-item" [routerLink]="'/UNIVERSITY/ManageLabs'">Manage Labs</a>
                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-75 ml-3" (click)="onLogout()">Logout</button>
              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <div class="row">
    <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2  p-1 maNav-bg-color minHeight838">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/UNIVERSITY'">Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/UNIVERSITY/ManageJoinRequests'">Manage Join Requests</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/UNIVERSITY/ManageMembers'">Manage Members</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/UNIVERSITY/ManageLabs'">Manage Labs</a>
        </li>

      </ul>

    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-0 text-light">


      <div class="container-fluid">








        <div class="row ">
          <div class="col-12 p-0">
            <div class="container-fluid bg-dark pt-3 text-light">


              <div class="border rounded p-3 mt-4 ">

                <div class="row">
                  <div class="col-12">
                    <h4 class="text-center mt-4 mb-3 ">Profile Settings</h4>
                    <hr class=" w-100 mx-auto mb-3">

                  </div>
                </div>

                    <div class="row m-2">
                      <div class="col-sm-12 col-md-8 border border-secondary rounded m-auto onHoverBgInfo">
                        <form #updateUniPasswordForm="ngForm" (submit)="onSubmit_updatePassword(updateUniPasswordForm.value.UniPassword)">
                          <div class="form-group">
                            <label>Update Password:</label>
                            <input type="text" class="form-control" placeholder="Enter a new Password"
                              name="UniPassword" (keyup)="checkNewPW(updateUniPasswordForm.value.UniPassword)" ngModel>
                              <small class="form-text alert alert-success"
                              *ngIf="this.Errors.passwordUpdated.status == true">
                              {{this.Errors.passwordUpdated.message}}
                            </small>
                            <small class="form-text rounded alert-danger py-0 px-3"
                              *ngIf="this.Errors.invalidPassword.status == true">
                              {{this.Errors.invalidPassword.message}}
                            </small>
                            <small class="form-text rounded alert-danger py-0 px-3"
                              *ngIf="this.Errors.spacesAreNotAllowed.status == true">
                              {{this.Errors.spacesAreNotAllowed.message}}
                            </small>
                            <small class="form-text rounded alert-danger py-0 px-3"
                              *ngIf="this.Errors.matchedWithOldPassword.status == true">
                              {{this.Errors.matchedWithOldPassword.message}}
                            </small>
                          </div>
                          <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-warning w-50 my-2 mx-2" [disabled]="checkIfThereAreErrorsForUpdatePassword()" type="submit">Update Password</button>
                          </div>
                        </form>
                      </div>


                    </div>

                    <div class="row m-3">
                      <div class="col-sm-12 col-md-8 border border-secondary rounded m-auto onHoverBgInfo">
                        <form #updateUniTitleForm="ngForm" (submit)="onSubmit_updateTitle(updateUniTitleForm.value.UniTitle)">
                          <div class="form-group">
                            <label>Update Title:</label>
                            <input type="text" class="form-control" placeholder="Enter a new Title"
                              name="UniTitle" (keyup)="checkNewTitle(updateUniTitleForm.value.UniTitle)" ngModel>
                            <small class="form-text rounded alert-danger py-0 px-3"
                              *ngIf="this.Errors.invalidTitle.status == true">
                              {{this.Errors.invalidTitle.message}}
                            </small>
                            <small class="form-text rounded alert-danger py-0 px-3"
                              *ngIf="this.Errors.uniTitleNotUnique.status == true">
                              {{this.Errors.uniTitleNotUnique.message}}
                            </small>
                            <small class="form-text alert alert-success"
                              *ngIf="this.Errors.titleUpdated.status == true">
                              {{this.Errors.titleUpdated.message}}
                            </small>
                          </div>
                          <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-warning w-50 my-2 mx-2" [disabled]="checkIfThereAreErrorsForUpdateTitle()" type="submit">Update Title</button>
                          </div>
                        </form>
                      </div>
                    </div>











              </div>

            </div>

          </div>








        </div>








      </div>


    </div>



  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
