<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText"   routerLink="/TEACHER/Lab" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border rounded CurrentStatsHover ">
          <div class="row text-center  childSpansHoverYellow">
            <div class="col"><span class="mx-2">
                <h3>Manage Students</h3>
              </span></div>
          </div>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab'">Lab's Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Labtasks'">Manage Lab Tasks</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Review Students</a>
                <a class="dropdown-item" [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
                <button type="button" class="btn btn-outline-danger w-100" (click)="onExitLabClicked()">Exit
                  Lab</button>

                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-100" (click)="onLogout()">Logout</button>

              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <div class="row">
    <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2  p-1 maNav-bg-color minHeight838">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/TEACHER/Lab'">Lab Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/TEACHER/Lab/Labtasks'">Manage Lab Tasks</a>
        </li>
        <li class="nav-item text-left">

          <a class="nav-link" [routerLink]="'/TEACHER/Lab/Challenges'">Manage Challenges</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/TEACHER/Lab/ManageStudents'">Manage Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/TEACHER/Lab/EvaluateStudents'">Review Students</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/TEACHER/Lab/Leaderboard'">View Leaderboard</a>
        </li>

      </ul>

    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-0">










      <div id="accordionOuter">
        <div class="card  mt-2 mx-3">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-secondary py-2 px-1" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h4><b> LAB JOIN REQUESTS <span class="text-info">** <span class="ml-3 text-muted" style="font-size: 16px;">( {{this.StudentsLabJoinRequests.length}} )</span>  </span></b></h4>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionOuter">
            <div class="card-body">






              <!-- Cards within card -->

              <div id="accordionInner">
                <div class="card mb-1" *ngFor="let StudentLabJoinRequest of StudentsLabJoinRequests">
                  <div class="card-header" [attr.id]="'RegisterUniversityCard'">

                    <button class="btn" style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#RegisterUniversityCollapse' + StudentLabJoinRequest._id"
                      aria-expanded="true" [attr.aria-controls]="'collapse' + StudentLabJoinRequest._id">
                      {{StudentLabJoinRequest.FirstNameOfUser+ ' '+StudentLabJoinRequest.LastNameOfUser}}
                    </button>

                  </div>

                  <div [id]="'RegisterUniversityCollapse' + StudentLabJoinRequest._id" class="collapse hide"
                    [attr.aria-labelledby]="'RegisterUniversityCard'" data-parent="#accordionInner">
                    <div class="card-body ">

                      <div class="row">
                        <div class="col-11 m-auto">
                          <!-- remove bg dark -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Registration#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Access Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>


                                <td>{{StudentLabJoinRequest.RegistrationNumberOfUser}}</td>
                                <td>{{StudentLabJoinRequest.FirstNameOfUser}}</td>
                                <td>{{StudentLabJoinRequest.LastNameOfUser}}</td>
                                <td>Applied</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="d-flex justify-content-end mr-3">
                            <button (click)="onAcceptLabJoinRequestButtonClicked(StudentLabJoinRequest)"
                              class="btn btn-success w-25 maSmallerFonts my-2 mx-2">Accept Join Request</button>
                            <button (click)="onDeleteLabJoinRequestButtonClicked(StudentLabJoinRequest)"
                              class="btn btn-danger w-25 maSmallerFonts my-2 mx-2">Delete Join Request</button>
                          </div>
                          <small class="form-text alert alert-success"
                            *ngIf="this.Errors.labJoinRequestAccepted.status==true">
                            {{this.Errors.labJoinRequestAccepted.message}}
                          </small>
                          <small class="form-text alert alert-success"
                            *ngIf="this.Errors.labJoinRequestDeleted.status==true">
                            {{this.Errors.labJoinRequestDeleted.message}}
                          </small>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>

              <!-- Cards within card -->


            </div>
          </div>
        </div>

      </div>












      <div id="accordionOuter2">
        <div class="card  mt-2 mx-3">
          <div class="card-header" id="headingOne2">
            <h5 class="mb-0">
              <button class="btn btn-link text-secondary py-2 px-1" data-toggle="collapse" data-target="#collapseOne2"
                aria-expanded="true" aria-controls="collapseOne2">
                <h4><b> Lab Students <span class="text-info"> <span class="ml-3 text-muted" style="font-size: 16px;">( {{this.LabMemberStudents.length}} )</span>  </span></b></h4>
              </button>
            </h5>
          </div>
          <div id="collapseOne2" class="collapse hide" aria-labelledby="headingOne2" data-parent="#accordionOuter2">
            <div class="card-body">






              <!-- Cards within card -->

              <div id="accordionInner2">
                <div class="card mb-1" *ngFor="let LabMemberStudent of LabMemberStudents">
                  <div class="card-header" [attr.id]="'RegisterUniversityCard2'">

                    <button class="btn" style="text-transform:uppercase; font-weight: 600;" data-toggle="collapse"
                      [attr.data-target]="'#RegisterUniversityCollapse2' + LabMemberStudent._id" aria-expanded="true"
                      [attr.aria-controls]="'collapse' + LabMemberStudent._id" (click)="onStudentNameCardClicked(LabMemberStudent)">
                      {{LabMemberStudent.FirstNameOfUser+ ' '+LabMemberStudent.LastNameOfUser}}
                    </button>

                  </div>

                  <div [id]="'RegisterUniversityCollapse2' + LabMemberStudent._id" class="collapse hide"
                    [attr.aria-labelledby]="'RegisterUniversityCard2'" data-parent="#accordionInner2">
                    <div class="card-body ">

                      <div class="row">
                        <div class="col-11 m-auto">
                          <!-- remove bg dark -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Registration#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Access Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>


                                <td>{{LabMemberStudent.RegistrationNumberOfUser}}</td>
                                <td>{{LabMemberStudent.FirstNameOfUser}}</td>
                                <td>{{LabMemberStudent.LastNameOfUser}}</td>
                                <td>Joined</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="d-flex justify-content-end mr-3">
                            <button (click)="viewStatsButtonClicked(LabMemberStudent)"
                              class="btn btn-info w-25 maSmallerFonts my-2 mx-2">{{ViewStatsButtonText}}</button>
                            <button (click)="onWarnButtonClicked(LabMemberStudent)" [disabled]="this.viewingStatsOfThisStudent[0]?.Warned"
                              class="btn btn-danger w-25 maSmallerFonts my-2 mx-2">Warn</button>
                            <button (click)="onExpelButtonClicked(LabMemberStudent)"
                            [ngClass]="{'btn-danger': this.viewingStatsOfThisStudent[0]?.StudentzLabAccessStatus== 'Allowed', 'btn-success': this.viewingStatsOfThisStudent[0]?.StudentzLabAccessStatus== 'Expelled'}"
                              class="btn w-25 maSmallerFonts my-2 mx-2">{{ExpellButtonText}}</button>
                            <button (click)="onAppreciateButtonClicked(LabMemberStudent)"  [disabled]="this.viewingStatsOfThisStudent[0]?.Appreciated"
                              class="btn btn-success w-25 maSmallerFonts my-2 mx-2">Appreciate</button>
                          </div>
                          <small class="form-text alert alert-success"
                            *ngIf="this.Errors.StudentAppreciated.status==true">
                            {{this.Errors.StudentAppreciated.message}}
                          </small>
                          <small class="form-text alert alert-success" *ngIf="this.Errors.StudentExpelled.status==true">
                            {{this.Errors.StudentExpelled.message}}
                          </small>
                          <small class="form-text alert alert-success" *ngIf="this.Errors.StudentAllowed.status==true">
                            {{this.Errors.StudentAllowed.message}}
                          </small>
                          <small class="form-text alert alert-success" *ngIf="this.Errors.StudentWarned.status==true">
                            {{this.Errors.StudentWarned.message}}
                          </small>
                          <small class="form-text alert alert-success"
                            *ngIf="this.Errors.labJoinRequestDeleted.status==true">
                            {{this.Errors.labJoinRequestDeleted.message}}
                          </small>
                          <div *ngIf="ViewStats == true">
                            Stats Viewed.








                            <div class="row">
                              <div class="col-11 m-auto">
                                <!-- remove bg dark -->
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Current XPs:</th>
                                      <th>Current Badge:</th>
                                      <th>Current Level:</th>
                                      <th>Appreciated:</th>
                                      <th>Lab Access:</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>


                                      <td>{{this.viewingStatsOfThisStudent[0]?.currentXPs}}</td>
                                      <td>{{this.viewingStatsOfThisStudent[0]?.currentBadge}}</td>
                                      <td>{{this.viewingStatsOfThisStudent[0]?.currentLevel}}</td>
                                      <td>{{this.viewingStatsOfThisStudent[0]?.Appreciated}}</td>
                                      <td>{{this.viewingStatsOfThisStudent[0]?.StudentzLabAccessStatus}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>

























                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>

                <!-- Cards within card -->


              </div>
            </div>
          </div>

        </div>












      </div>



    </div>
    <!--2nd row ends-->



    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







    <!-- -------------------------------------------------------------------------------------- -->
    <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
    <!-- ----------------------------------------------------------------------------------------->









  </div>

  <!-- -------------------------------------------------------------------------------------- -->
  <!--MAIN AREA OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->
