<!-- nav start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand border border-warning px-3 rounded ml-3 bg-success" href="#"><b>GBCL</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <div class="float-left ml-auto mr-sm-2">
      
      
        <app-homepage-nav-search></app-homepage-nav-search>
      
      
      </div>
    </div>
  </nav>

<div class="container-fluid py-2">
    <app-aboutus></app-aboutus>
    <app-signup-form></app-signup-form>
</div>