<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn w-100 border border-warning" [routerLink]="'/'" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border rounded text-left h-100 m-auto p-2 text-center">
          <h5><b>Code Practice Area</b></h5>
        </div>
        <!-- Stats column -->
        <!-- <div class="col-12 col-sm-2 col-md-3 border rounded text-left h-100 m-auto p-2 text-center">
          <h5 class="text-warning">Unchanged Stats</h5>
        </div> -->
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/'">Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/CPA'">CPA</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Rivals'">Rivals</a>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onExitLabClicked()">Exit Lab</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onLogout()">Logout</button>



              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




























  <div class="row ">
    <!--2nd row starts-->

    <div class="col-12 col-lg-3">
      <div class="row bg-Outline py-1 px-2">
        <div class="col-12 p-0 overflow-auto minmaxHeight84vh">
          <!-- outline starts -->
          <h4 class=" py-3 text-center text-warning" *ngIf="unAttemptedLabTasks.length<=0"><b>No Unattempted tasks</b></h4>

          <div id="accordion">
            <div class="card mb-1" *ngFor="let task of unAttemptedLabTasks">
              <div class="card-header secondaryColorOfChildrenOnHover childSpansHoverYellow"
                [attr.id]="'heading'+task._id">

                <button class="btn OutlineTaskTitleBtns " data-toggle="collapse"
                  [attr.data-target]="'#collapse' + task._id" aria-expanded="true"
                  [attr.aria-controls]="'collapse'+task._id">
                  {{task.LabTaskTitle}} <span class="text-dark border rounded p-2 d-flex justify-content-end"><b
                      class="text-dark  maSmallerFonts">{{task.LabTaskXPs}} XP</b></span>
                </button>

              </div>

              <div [id]="'collapse'+task._id" class="collapse hide" [attr.aria-labelledby]="'heading'+task._id"
                data-parent="#accordion">
                <div class="card-body ">
                  {{task.LabTaskQuestion}}
                  <div class="text-right">
                    <a href="https://ide.geeksforgeeks.org/" target="_blank">Open Compiler</a>
                    <button class="btn btn-primary btn-sm mx-2" (click)="onAttemptClicked(task)">Attempt</button>
                  </div>
                </div>
              </div>
            </div>
          </div>















          <!-- outline ends -->
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-9" *ngIf="showEditorAndOthererWindows">
      <!--MAIN AREA WHERE EDITOR AND CONSOLE WILL BE-->
      <form class="text-right" (submit)="onSubmitLabTaskClicked(codeForm)" #codeForm="ngForm">
        <div class="row">
          <div class="col">
            <h5 class="text-center text-warning"><b>PASTE CODE BELOW for Task :
                {{taskTitleOfTaskBeiingCurrentlyAttempted}}</b></h5>
            <div class="form-group p-0 m-0">
              <textarea class="form-control m-0" (keyup)="checkCode(codeForm)" spellcheck="false" name="theCode" ngModel placeholder="** Required **  Paste from IDE or write code for lab task here..." rows="8"></textarea>
            </div>


            <button class="btn btn-primary EditorBtns" [disabled]="checkIfErrors()" type="submit">Submit Lab Task</button>
          </div>
        </div>
        <div class="row p-1 ">
          <div class="col-12 col-lg-5 m-auto border rounded border-warning">
            <h6 class="text-center text-warning"><b>INPUT</b></h6>
            <textarea class="form-control p-1 mb-2" rows="8" name="theInput" ngModel spellcheck="false" placeholder="Enter input here if any..."></textarea>

            <!-- <button class="btn btn-primary EditorBtns">Clear</button> -->
          </div>
          <div class="col-12 col-lg-5 m-auto border rounded border-warning">
            <h6 class="text-center text-warning"><b>OUTPUT</b></h6>
            <textarea class="form-control p-1 mb-2" (keyup)="checkOutput(codeForm)" rows="8" name="theOutput" ngModel spellcheck="false" placeholder="** Required **  Paste from IDE or write output for lab task here..."></textarea>
            <!-- <button class="btn btn-primary EditorBtns">Clear</button> -->
          </div>

        </div>
      </form>
    </div>


  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
