<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn w-100 border border-warning" routerLink="/STUDENT/Lab"
            title="Gamification Based Coding Labs"><img src="../../assets/images/logo.png" alt="logo"
              id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-6 col-md-8 border border-dark rounded text-left h-100 m-auto px-2 text-center">
          <h5 class="p-2"><b>Code Practice Area</b></h5>
          <h6 class="pb-1">{{this.localStorageFullName}}</h6>
        </div>
        <!-- Stats column -->
        <!-- <div class="col-12 col-sm-2 col-md-3 border rounded text-left h-100 m-auto p-2 text-center">
          <h5 class="text-warning">Unchanged Stats</h5>
        </div> -->
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

              <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{localStorageUsername}}
              </button>
              <div class="dropdown-menu bg-warning">
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/'">Dashboard</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/AllLabs'">Attempt Lab Tasks</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Rivals'">Rivals</a>
                <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onExitLabClicked()">Exit
                  Lab</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="btn btn-outline-danger w-100 ml-0" (click)="onLogout()">Logout</button>



              </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <!-- <hr class="bg-warning p-0 m-0"> -->
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




























  <div class="row ">
    <!--2nd row starts-->

    <div class="col-12 col-lg-4">
      <div class="row bg-Outline py-1 px-2">
        <div class="col-12 p-0 overflow-auto minmaxHeight84vh">
          <!-- outline starts -->
          <!-- <h4 class=" py-3 text-center text-warning" *ngIf="unAttemptedLabTasks.length<=0"><b>No Unattempted tasks</b>
          </h4> -->

          <div id="accordion">
            <div class="card mb-1" >
              <div class="card-header secondaryColorOfChildrenOnHover childSpansHoverYellow"
                [attr.id]="'heading'">

                <button class="btn OutlineTaskTitleBtns " data-toggle="collapse"
                  [attr.data-target]="'#collapse'" aria-expanded="true"
                  [attr.aria-controls]="'collapse'">
                  {{CURRRENT_TASK_BEING_ATTEMPTED?.LabTaskTitle}} <span class="text-dark border rounded p-2 d-flex justify-content-end"><b
                      class="text-dark  maSmallerFonts">{{CURRRENT_TASK_BEING_ATTEMPTED?.LabTaskXPs}} XP</b></span>
                </button>

              </div>

              <div [id]="'collapse'" class="collapse show" [attr.aria-labelledby]="'heading'"
                data-parent="#accordion">
                <div class="card-body ">
                  {{CURRRENT_TASK_BEING_ATTEMPTED?.LabTaskQuestion}}
                  <div class="text-right">
                    <a href="https://ide.geeksforgeeks.org/" target="_blank">Open Compiler</a>
                    <!-- <button class="btn btn-primary btn-sm mx-2" (click)="onAttemptClicked(CURRRENT_TASK_BEING_ATTEMPTED)">Attempt</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>













          <!-- outline ends -->
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-8">
      <!--MAIN AREA WHERE EDITOR AND CONSOLE WILL BE-->
      <form class="text-right" (submit)="onSubmitLabTaskClicked(codeForm)" #codeForm="ngForm">
        <div class="row">
          <div class="col">
            <h6 class="text-center text-warning py-2"><b>&lt; CODE &gt; </b></h6>
            <div class="form-group p-0 m-0">
              <textarea class="form-control m-0" (keyup)="checkCode(codeForm)" spellcheck="false" name="theCode" ngModel
                placeholder="** Required **  Paste from IDE or write code for lab task here..." rows="17"></textarea>
            </div>

            <div class="text-center">
              <button class="btn btn-primary EditorBtns w-50 mt-3"
                [disabled]="checkIfErrors()" type="submit">Submit Lab Task</button>
            </div>


          </div>
        </div>
        <!-- <div class="row p-1 d-none">
          <div class="col-12 col-lg-5 m-auto border rounded border-warning">
            <h6 class="text-center text-warning pt-1"><b>&lt; INPUT &gt;</b></h6>
            <textarea class="form-control p-1 mb-2" rows="8" name="theInput" ngModel spellcheck="false" placeholder="Enter input here if any..."></textarea>


          </div>
          <div class="col-12 col-lg-5 m-auto border rounded border-warning">
            <h6 class="text-center text-warning pt-1"><b>&lt; OUTPUT &gt;</b></h6>
            <textarea class="form-control p-1 mb-2" (keyup)="checkOutput(codeForm)" rows="8" name="theOutput" ngModel spellcheck="false" placeholder="** Required **  Paste from IDE or write output for lab task here..."></textarea>
          </div>

        </div> -->
      </form>
    </div>


  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->


<!-- LOADING MODEL -->
<div *ngIf="showSpinner">
  <div id="opaque" class="d-block"></div>
  <div id="spinner" class="loader"></div>
</div>



<div class="modal" id="demotionModallll" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark errorMessageModal">
      <div class="modal-header">
        <h5 class="modal-title errorMessageModal font16">{{MODAL_HEADING}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body font16">
        <small>{{MODAL_MESSAGE}}</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reload()">Close</button>
      </div>
    </div>
  </div>
</div>
<button type="button" id="LevelUpdatedModalButton" class="d-none" #modalButton data-toggle="modal"
  data-target="#demotionModallll">

</button>
