<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn w-100 border border-warning" [routerLink]="'/'" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->
        <div class="col-12 col-sm-4 col-md-5 border rounded text-left h-100 m-auto p-2 text-center">
          <h5><b>Code Practice Area</b></h5>
        </div>
        <!-- Stats column -->
        <div class="col-12 col-sm-2 col-md-3 border rounded text-left h-100 m-auto p-2 text-center">
          <h5 class="text-warning">Unchanged Stats</h5>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

  <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{localStorageUsername}}
  </button>
  <div class="dropdown-menu bg-warning" >
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab'">Lab's Dashboard</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/'">Exit Lab</a>
    <div class="dropdown-divider"></div>
    <button type="button" class="btn btn-outline-danger w-75 ml-3" (click)="onLogout()">Logout</button >

  </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">
  </div>
  <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




























  <div class="row ">
    <!--2nd row starts-->

    <div class="col-12 col-lg-3">
      <div class="row bg-Outline py-1 px-2">
        <div class="col-12 p-0 overflow-auto minmaxHeight84vh">
          <!-- outline starts -->
          <h4 class=" py-3 text-center text-warning" *ngIf="tasks.length<=0"><b>No tasks uploaded yet</b></h4>

          <div id="accordion">
            <div class="card mb-1" *ngFor="let task of tasks">
              <div class="card-header secondaryColorOfChildrenOnHover childSpansHoverYellow"
                [attr.id]="'heading'+task.taskID">

                <button class="btn OutlineTaskTitleBtns " data-toggle="collapse"
                  [attr.data-target]="'#collapse' + task.taskID" aria-expanded="true"
                  [attr.aria-controls]="'collapse'+task.taskID">
                  {{task.taskTitle}} <span class="text-dark border rounded p-2 d-flex justify-content-end"><b
                      class="text-dark  maSmallerFonts">{{task.XPsAllocated}} XP</b></span>
                </button>

              </div>

              <div [id]="'collapse'+task.taskID" class="collapse hide" [attr.aria-labelledby]="'heading'+task.taskID"
                data-parent="#accordion">
                <div class="card-body ">
                  {{task.taskContent}}
                  <div class="text-right">
                    <button class="btn btn-primary btn-sm " >Submit Solution</button>
                  </div>
                </div>
              </div>
            </div>
          </div>















          <!-- outline ends -->
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-9">
      <!--MAIN AREA WHERE EDITOR AND CONSOLE WILL BE-->
      <div class="row">
        <div class="col">
          <h5 class="text-center text-warning"><b>CODE EDITOR</b></h5>
          <form class="text-right">
            <div class="form-group p-0 m-0">
              <textarea class="form-control m-0" id="CodeEditor" rows="8"></textarea>
            </div>

            <button class="btn btn-primary EditorBtns" >Run</button>
          </form>
        </div>
      </div>
      <div class="row p-1 ">
        <div class="col-12 col-lg-11 m-auto border rounded border-warning">
          <h6 class="text-center text-warning"><b>OUTPUT CONSOLE</b></h6>
          <textarea class="form-control p-1 m-0" id="CodeEditor" rows="6" disabled></textarea>
          <button class="btn btn-primary EditorBtns">Clear</button>
        </div>

      </div>
    </div>


  </div>
  <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
