<!-- This is the Dashboard for student,  -->












<div class="container-fluid">







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW STARTS, in a [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->

  <div class="row">
    <div class="col-12 maTopRow ">
      <!-- this column isfurther divided into three portions -->
      <!-- first portion for logo -->
      <!-- second portion for Student Stats -->
      <!-- third portion for Logout n student name -->
      <!-- <div class="row text-center">
              <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
              <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
              <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
          </div> -->
      <div class="row text-center">

        <!-- ---------------- -->
        <!-- GBCL LOGO COLUMN -->

        <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
          <a class="btn  border-warning w-100 logoText" title="Gamification Based Coding Labs"><img
              src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
        </div>

        <!-- GBCL LOGO COLUMN-END -->
        <!-- -------------------- -->






        <!-- ----------- -->
        <!-- Stats column -->

        <div class="col-12 col-sm-6 col-md-8 border rounded text-left h-100 m-auto  CurrentStatsHover">


          <div class="row childSpansHoverYellow">
            <div class="col-12 text-center text-underline pb-1 hoverYellow"><span><u>
                  <h5 class="">Own Statistics</h5>
                </u></span></div>
            <div class="col-6 col-lg-4 Text12px">Current XPs: <span>0 XP</span></div>
            <div class="col-6 col-lg-4 Text12px">Current CPPs: <span>0 CPP</span></div>
            <div class="col-6 col-lg-4 Text12px"><span>Level: 0</span></div>
            <div class="col-6 col-lg-4 Text12px">Current Badge: <span>ABC</span></div>
            <div class="col-6 col-lg-4 Text12px">Next Badge: <span>XYZ</span></div>
            <div class="col-6 col-lg-4 Text10pxItalicYellow text-right">--XPs Required for Promotion:
              <span>120 XP</span></div>
          </div>
        </div>
        <!-- STATS COL END -->
        <!-- ------------- -->




        <!-- ---------- -->
        <!-- LOGOUT COL -->
        <div class="col-12 col-sm-3 col-md-2">
          <div class="row">
            <div class="col-12 btn-group">
              <!-- Example single danger button -->

  <button type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    name here
  </button>
  <div class="dropdown-menu bg-warning" >
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/CPA'">CPA</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
    <a class="dropdown-item" [routerLink]="'/STUDENT/'">Exit Lab</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="'/'">Logout</a>
  </div>

            </div>

          </div>
        </div>
        <!-- LOGOUT COL ENDS-->
        <!-- ----------------->

      </div>

    </div>
    <hr class="bg-warning p-0 m-0">
  </div> <!--1st row ends-->
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- TOP ROW ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




<div class="row">  <!--2nd row starts-->
  <div class="col-12 col-sm-3 col-lg-2 maNav-bg-color minHeight838 p-1">
    <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
      <li class="nav-item text-left">
        <a class="nav-link active" [routerLink]="'/STUDENT/Lab'" >Lab Dashboard</a>
      </li>
      <li class="nav-item text-left">
        <a class="nav-link" [routerLink]="'/STUDENT/Lab/CPA'">Visit CPA</a>
      </li>
      <li class="nav-item text-left">
        <a class="nav-link" [routerLink]="'/STUDENT/Lab/Leaderboard'">View Leaderboard</a>
      </li>
      <li class="nav-item text-left">
        <a class="nav-link" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-9 col-lg-10 p-1">


    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Lab Details
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-5 m-1">Lab Code: bf90D3</div>
              <div class="col-5 m-1">Lab Name: Introduction to Computer Programming</div>
              <div class="col-5 m-1">Lab Teacher: Mr. Attique Zafar</div>
              <div class="col-5 m-1">Lab Members: 64</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Members
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-center mb-1" *ngFor="let member of members">
                <span class="ml-2 p-1 text-small">Abdur Rehman</span>
                <span class="text-right"><button class="btn btn-sm btn-outline-warning ml-3"><b>Set Rival</b></button></span>
                <hr class="w-75 mx-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div> <!--2nd row ends-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
  <!-- ----------------------------------------------------------------------------------------->









</div>

<!-- -------------------------------------------------------------------------------------- -->
<!--MAIN AREA OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->




<!-- -------------------------------------------------------------------------------------- -->
<!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
<!-- ----------------------------------------------------------------------------------------->
