<!-- This is the Dashboard for student,  -->












<div class="container-fluid">







    <!-- -------------------------------------------------------------------------------------- -->
    <!-- TOP ROW STARTS, in a [container-fluid]-->
    <!-- ----------------------------------------------------------------------------------------->

    <div class="row">
      <div class="col-12 maTopRow ">
        <!-- this column isfurther divided into three portions -->
        <!-- first portion for logo -->
        <!-- second portion for Student Stats -->
        <!-- third portion for Logout n student name -->
        <!-- <div class="row text-center">
                <div class="col-12 col-sm-3 col-md-2 bg-success">LOGO</div>
                <div class="col-12 col-sm-6 col-md-8 bg-primary">Stats</div>
                <div class="col-12 col-sm-3 col-md-2 bg-secondary">logout n profile</div>
            </div> -->
        <div class="row text-center">

          <!-- ---------------- -->
          <!-- GBCL LOGO COLUMN -->

          <div class="col-12 col-sm-3 col-md-2 bgYellowOnHover">
            <a class="btn  border-warning w-100 logoText" title="Gamification Based Coding Labs"><img
                src="../../assets/images/logo.png" alt="logo" id="logoImg"><b>GBCL</b></a>
          </div>

          <!-- GBCL LOGO COLUMN-END -->
          <!-- -------------------- -->






          <!-- ----------- -->
          <!-- Stats column -->

          <div class="col-12 col-sm-6 col-md-8 border rounded CurrentStatsHover">


            <div class="row text-center  childSpansHoverYellow">
              <div class="col"><span class="mx-2"><h3>Admin Dashboard</h3></span></div>
            </div>
          </div>
          <!-- STATS COL END -->
          <!-- ------------- -->




          <!-- ---------- -->
          <!-- LOGOUT COL -->
          <div class="col-12 col-sm-3 col-md-2">
            <div class="row">
              <div class="col-12 btn-group">
                <!-- Example single danger button -->

                <a class="btn btn-warning mt-4 maSmallerFonts" [routerLink]="'/'">Logout</a>
    <!-- <a type="button" class="btn btn-warning mt-4 maSmallerFonts dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Logout
    </a>
    <div class="dropdown-menu bg-warning" >
       <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/CPA'">CPA</a>
      <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Leaderboard'">Leaderboard</a>
      <a class="dropdown-item" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a> -->
      <!-- <a class="dropdown-item" [routerLink]="'/TEACHER/Settings'">Settings</a> -->
      <!-- <a class="dropdown-item" [routerLink]="'/TEACHER/'">Exit Lab</a> -->
      <!-- <div class="dropdown-divider"></div>

    </div> -->

              </div>

            </div>
          </div>
          <!-- LOGOUT COL ENDS-->
          <!-- ----------------->

        </div>

      </div>
      <hr class="bg-warning p-0 m-0">
    </div> <!--1st row ends-->
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- TOP ROW ENDS-->
    <!-- ----------------------------------------------------------------------------------------->




  <div class="row">  <!--2nd row starts-->
    <div class="col-12 col-sm-3 col-lg-2 maNav-bg-color minHeight838 p-1">
      <ul class="nav nav-fill nav-pills flex-column w-100 secondaryColorOfChildrenOnHover">
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/ADMIN'" >Dashboard</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link " [routerLink]="'/ADMIN/ManageUniversities'">Manage Universities</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link active" [routerLink]="'/ADMIN/JoinRequests'">Join Requests</a>
        </li>
        <!-- <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/STUDENT/Lab/CPA'">Visit CPA</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/STUDENT/Lab/Challenges'">Attempt Challenges</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [routerLink]="'/STUDENT/Lab/Rivals'">Rivals' Notifications</a>
        </li> -->
      </ul>
    </div>
    <div class="col-12 col-sm-9 col-lg-10 p-1">



    </div>



  </div> <!--2nd row ends-->



    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->







    <!-- -------------------------------------------------------------------------------------- -->
    <!-- AREA UNDER TOP ROW OF STUDENT STARTS in [container-fluid]-->
    <!-- ----------------------------------------------------------------------------------------->









  </div>

  <!-- -------------------------------------------------------------------------------------- -->
  <!--MAIN AREA OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->




  <!-- -------------------------------------------------------------------------------------- -->
  <!-- AREA UNDER TOP ROW OF STUDENT ENDS-->
  <!-- ----------------------------------------------------------------------------------------->
